<?xml version="1.0" encoding="UTF-8"?> <!-- -*- Mode: nXML; tab-width: 4; indent-tabs-mode: nil; nxml-child-indent:4 -*- -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>templateListURL</key>
        <string>https://foo.bar/template.list</string>
    </dict>
</plist>
