{
  "extends": "eslint:recommended",
  "rules": {
    "camelcase": 2,
    "quotes": [2, "single"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "space-in-parens": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "no-lonely-if": 2,
    "comma-style": 2,
    "indent": "off",
    "no-underscore-dangle": 0,
    "no-constant-condition": 0,
    "no-multi-spaces": 0,
    "strict": 0,
    "key-spacing": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-control-regex": 0,
    "no-useless-escape": 0,
    "semi": 2,
    "no-redeclare": 0
  },
  "globals": {
    "L": true,
    "module": false,
    "define": false
  },
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "no-var": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "off",
        "no-inner-declarations": "off",
        "no-constant-condition": "off",
        "@typescript-eslint/triple-slash-reference": "off"
      }
    }
  ]
}
