/* CSS specific for desktop browsers. */

/* Related to selectionMarkers.css on formulabar*/
#tb_formulabar_item_formula .inputbar_selection_handles *{
	background-size: 20px;
	background-position-y: top;
	width: 20px;
	background-repeat: no-repeat;
	margin-left:1px !important;
	transform: translateY(-12px);
}
#tb_formulabar_item_formula .inputbar_selection_handles .leaflet-selection-marker-start{
	margin-left:-20px !important;
}
