/* JSDialog */

.jsdialog-container {
	position: absolute;
	z-index: 1105;
}

.jsdialog-container .ui-dialog-content {
	background-color: white !important;
}

.jsdialog.vertical p {
	margin-bottom: 2px;
}

.jsdialog.row {
	display: table-row;
}

.jsdialog.cell {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
}

.jsdialog.vertical {
	width: max-content;
}

.jsdialog.vertical:not([id^='table-dialog-action_area']) > .jsdialog.row,
td.jsdialog > [id^='table-box'] {
	display: table;
	width: 100%;
}

/* Expander */
.ui-expander-label::before {
	content: '>';
	margin-right: 10px;
}

.ui-expander-label.expanded::before {
	content: 'V';
}

.ui-expander:hover {
	cursor: pointer;
}

/* TreeView */

.ui-treeview {
	display: block;
	border: 1px solid silver;
}

.ui-treeview-body {
	display: block;
	min-height: 50px;
	min-width: 50px;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}

.ui-treeview-expandable > .ui-treeview-expander::before {
	content: '\25B6';
	color: black;
	margin-right: 6px;
	display: inline-block;

	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.ui-treeview-expandable.collapsed > .ui-treeview-expander::before {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}

.ui-treeview-expandable.collapsed + ul {
	display: none;
}

.ui-treeview-body > ul {
	margin: 0;
	padding: 0;
}

.ui-treeview-body ul {
	list-style-type: none;
}

.ui-treeview-entry {
	display: flex;
	width: 100%;
}

.ui-treeview-entry input[type='checkbox'] {
	width: 20px;
	vertical-align: middle;
}

.ui-treeview-entry span {
	width: 100%;
}

.ui-treeview-entry.mobile-wizard {
	line-height: 40px;
	padding-left: 20px;
}

.ui-treeview-entry:hover,
.ui-treeview-entry.selected,
.ui-listview-entry:hover,
.ui-listview-entry.selected {
	background-color: silver;
}

#mobile-wizard .ui-treeview-body input[type='checkbox'] {
	float: none;
	vertical-align: middle;
}

.ui-treeview.droptarget {
	border: 2px dashed darkslateblue;
}

/* checkbox */

.jsdialog.checkbutton {
	white-space: nowrap;
}

.jsdialog.checkbutton input,
.jsdialog.checkbutton label {
	vertical-align: middle;
}

/* listbox */

.jsdialog.ui-listbox {
	min-width: 100px;
}

/* Autofilter dropdown */

.autofilter.row {
	display: table-row;
}

.autofilter.cell {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
}

.autofilter-container {
	background-color: white;
	border: solid 1px silver;
	position: absolute;
	z-index: 1105;
	padding: 10px;
}

.autofilter-container #menu.ui-treeview .ui-treeview-body {
	height: 140px;
	width: 100%;
}

.autofilter-container #toggle_all.checkbutton {
	display: inline-table;
}

.autofilter-container #menu + #search_edit {
	display: block;
}

#mobile-wizard #toggle_all.checkbutton + #select_current,
.autofilter-container #select_current {
	background: url('images/popup_select_current.svg') no-repeat center;
}

.autofilter-container #select_current {
	height: 25px;
	width: 25px;
	border: none;
}

#mobile-wizard #toggle_all.checkbutton + #select_current + #unselect_current,
.autofilter-container #unselect_current {
	background: url('images/popup_unselect_current.svg') no-repeat center;
}

.autofilter-container #unselect_current {
	height: 25px;
	width: 25px;
	border: none;
}


.autofilter-container #toggle_all.checkbutton > label,
.autofilter-container #toggle_all.checkbutton > input {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}

.autofilter-container #check_tree_box.ui-treeview .ui-treeview-body,
.autofilter-container #check_list_box.ui-treeview .ui-treeview-body {
	width: 100%;
	min-width: 200px;
	max-height: 150px;
}

/* Pivot Table dialog */

.jsdialog-container .ui-expander + .ui-expander-content #source-button,
.jsdialog-container .ui-expander + .ui-expander-content #destination-button {
	background: url('images/refinp1.svg') no-repeat center;
}

.jsdialog-container #source-button,
.jsdialog-container #destination-button {
	background: url('images/refinp2.svg') no-repeat center;
	height: 25px;
	width: 25px;
	border: 1px solid silver;
	vertical-align: middle;
	padding: 15px;
}

/* Word count dialog */

#label9, #documentlabel-mobile {
	color: #636363 !important;
}

#documentlabel-mobile {
	padding-top: 10px;
}

#wordslabel,
#inclspaceslabel,
#exclspaceslabel,
#cjkcharsft,
#wordslabel2,
#inclspaceslabel2,
#exclspaceslabel2,
#cjkcharsft2
{
	float: left;
	clear: left;
	width: 70%;
	color: #636363 !important;
}

#selectwords,
#selectchars,
#selectcharsnospaces,
#selectcjkchars,
#docwords,
#docchars,
#doccharsnospaces,
#doccjkchars
{
	float: right;
	clear: right;
	width: 20%;
	border-bottom: none;
	color: #636363 !important;
}