/* JSDialog */
.jsdialog-overlay {
	-webkit-animation: vex-fadein .5s;
	animation: vex-fadein .5s;
	position: fixed;
	background: #1c5fa814;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.jsdialog-overlay.cancellable {
	-webkit-animation: none;
	animation: none;
	background: transparent;
}

.modalpopup .jsdialog-overlay {
	z-index: 2000;
}

.modalpopup .jsdialog-overlay + div {
	position: relative;
	z-index: 2001;
}

.jsdialog.root-container {
	margin: .5em 1em; /*same as in .ui-dialog */
}

.jsdialog-container {
	position: absolute;
	z-index: 1105;
}

.jsdialog-container.modalpopup {
	border: 1px solid #a4a4a4 !important;
	border-radius: 4px;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	min-width: 200px;
	min-height: 100px;
}

.jsdialog-container .ui-dialog-content {
	background-color: white !important;
	font-family: var(--jquery-ui-font);
}

.jsdialog.vertical p, .ui-frame-label {
	margin: 0px;
	color: #666;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.jsdialog.ui-separator.vertical {
	height: 100%;
	padding-left: 6px;
	/* border-left: 1px dashed #888; */
	background-image: linear-gradient(#888 22%, rgba(255,255,255,0) 0%);
	background-position: left center;
	background-size: 1px 14px;
	background-repeat: repeat-y;
	box-shadow: inset 0 34px 0 0 white;
}

.jsdialog.ui-separator.horizontal {
	width: 100%;
	padding-top: 6px;
	/* border-left: 1px dashed #888; */
	background-image: linear-gradient(#888 22%, rgba(255,255,255,0) 0%);
	background-position: center top;
	background-size: 14px 1px;
	background-repeat: repeat-x;
	box-shadow: inset 0 34px 0 0 white;
}

td.jsdialog:hover *,
#table-box3:hover p {
	color: #333;
}

.jsdialog.row {
	display: table-row;
}

.jsdialog.cell {
	display: table-cell;
	vertical-align: middle;
}

td.jsdialog .jsdialog.cell,
[id^='table-dialog-action_area'] .jsdialog.cell{
	padding: 4px;
}

.jsdialog.vertical {
	width: max-content;
}

.jsdialog.vertical:not([id^='table-dialog-action_area']) > .jsdialog.row,
td.jsdialog > [id^='table-box'] {
	display: table;
	width: 100%;
}

.jsdialog.ui-alignment {
	margin: 0px;
	display: block;
}

.jsdialog.ui-grid {
	border-spacing: 0px;
}

/* Expander */

.jsdialog.ui-expander {
	box-shadow: 0 1px 0px 0 #f1f1f1;
}

#options.ui-expander {
	margin-top: 8px;
}

.ui-expander-label {
	color: #666;
}

.ui-expander-label::before,
.ui-treeview-expandable > .ui-treeview-expander::before {
	content: '>';
	color: transparent;
	margin-right: 5px;
	background: transparent url('images/lc_menu_chevron.svg') no-repeat center right;
}

.ui-expander-label.expanded::before,
.ui-treeview-expandable.collapsed > .ui-treeview-expander::before  {
	content: 'V';
	margin: 0px;
	position: absolute;
	transform: rotate(90deg);
	left: 16px;
	background: transparent url('images/lc_menu_chevron.svg') no-repeat center;
	filter: brightness(0.5);
}

.ui-treeview-expandable > .ui-treeview-expander::before {
	margin-right: 6px !important;
	display: inline-block;
	position: relative !important;
	left: 0px !important;
}

.ui-expander-label.expanded {
	padding-left: 14px; /*adding extra padding to account for image absolute position*/
	color: #444;
}

.ui-expander-content.expanded {
	display: block;
}

.ui-expander-content:not(.expanded) {
	display: none;
}

.ui-expander:hover {
	cursor: pointer;
}

.ui-expander-content > .root-container.jsdialog {
	margin: 4px 0px;
}
/* TreeView */

.ui-treeview {
	display: block;
	border: 1px solid silver;
	border-radius: 2px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-treeview.disabled {
	background-color: silver;
	color: var(--gray-light-txt--color) !important;
}

.ui-treeview-body {
	display: block;
	min-height: 100px;
	min-width: 100px;
	max-height: 150px;
	width: 100%;
}

.ui-treeview-cell.with-sub-dialog {
	cursor: context-menu;
}

.ui-treeview-expandable.collapsed + ul {
	display: none;
}

.ui-treeview-body > ul {
	margin: 0;
	padding: 0;
}

.ui-treeview-body ul {
	list-style-type: none;
}

.ui-treeview-entry {
	display: flex;
	width: 100%;
}

.ui-treeview-entry:not(.autofilter) {
	padding-left: 2px;
}

input[type='checkbox'].autofilter, .jsdialog input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #f4f4f4;
	margin: 1px 8px;
	box-shadow: inset 0px 0px 0px 1px gray;
}

input[type='checkbox']:checked.autofilter, .jsdialog input[type='checkbox']:checked {
	border-color: transparent;
	background: url('images/popup_select_current.svg') no-repeat center;
	box-shadow: none;
}

.ui-textarea.jsdialog {
	max-width: 400px;
}

.ui-treeview-entry span {
	width: 100%;
}

.ui-treeview-entry.mobile-wizard {
	line-height: 40px;
	padding-left: 20px;
}

.ui-treeview-entry:hover,
.ui-treeview-entry.selected,
.ui-listview-entry:hover,
.ui-listview-entry.selected {
	background-color: silver;
}

#mobile-wizard .ui-treeview-body input[type='checkbox'] {
	float: none;
	vertical-align: middle;
}

.ui-treeview.droptarget {
	border: 1px solid #888;
}
.ui-treeview.droptarget:hover{
	border: 1px solid #888;
	box-shadow: 0 0 2px 0 #777;
}
/* input text */

.jsdialog.ui-edit {
	line-height: 28px;
	max-height: 32px;
}

#search_edit.ui-edit.autofilter {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}
/* checkbox */

.jsdialog.checkbutton {
	white-space: nowrap;
}

.jsdialog.checkbutton input,
.jsdialog.checkbutton label {
	vertical-align: middle;
}

.jsdialog.checkbutton label {
	padding: 0px 2px;
}

/* Radio button */

.jsdialog input[type='radio'] {
	vertical-align: middle;
	margin: 0px 4px 0px 0px;
}

.jsdialog .radiobutton > label {
	vertical-align: middle;
}

.jsdialog input[type='radio'][disabled='disabled'] ~ label {
	color: var(--gray-light-txt--color);
}
/* listbox */
.jsdialog.ui-listbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-width: 100px;
	height: 32px;
	line-height: normal;
	font-size: 14px;
	font-family: var(--jquery-ui-font);
	border: 1px solid #CCC;
	border-radius: 3px;
	padding-right: 2em;
	padding-left: 0.4em;
	margin: 2px 0px;
	background-color: #F1F1F1;
}

.ui-listbox::-ms-expand {
	display: none;
}

.ui-listbox-arrow {
	content: '';
	background: url('images/jquery-ui-lightness/ui-icons_222222_256x240.png') no-repeat #F1F1F1;
	background-position: -67px -18px;
	display: inline-block;
	width: 11px;
	height: 11px;
	position: relative;
	top: 1px;
	left: -18px;
	cursor: pointer;
	pointer-events: none;
}

.ui-listbox[disabled='disabled'] ~ .ui-listbox-arrow {
	opacity: 0.5;
	cursor: auto;
}

/* button box */

.jsdialog.ui-button-box-right {
	float: right;
}

.jsdialog.ui-button-box-left {
	float: left;
}

/* Icon View */

.ui-iconview {
	overflow: scroll;
	display: inline-flex;
	display: -ms-inline-flexbox;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ui-iconview.mobile-wizard {
	justify-content: space-around;
}

@supports (display: flex) {
	.ui-iconview-entry {
		flex: 1;
	}
}

.ui-iconview-entry {
	float: left;
	text-align: center;
	position: relative;
	flex-direction: row;
	align-self: center;
	border: 2px solid transparent;
	border-radius: 3px;
}

.ui-iconview-entry.selected {
	border: 2px solid gray;
}

/* Autofilter dropdown */

.autofilter.row {
	display: table-row;
}

.autofilter.cell {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
}

.autofilter-container {
	background-color: white;
	border: solid 1px silver;
	position: absolute;
	z-index: 1105;
	padding: 10px;
	font-family: var(--jquery-ui-font);
}

.autofilter-container #menu.ui-treeview .ui-treeview-body {
	height: auto;
	width: 100%;
	padding: 8px 1px;
}

.autofilter-container #toggle_all.checkbutton {
	display: flex;
}

.autofilter-container #menu + #search_edit {
	display: block;
}

#mobile-wizard #toggle_all.checkbutton + #select_current,
.autofilter-container #select_current {
	background: url('images/popup_select_current.svg') no-repeat center;
}

.autofilter-container #select_current {
	height: 16px;
	width: 16px;
	margin: 8px;
	border: none;
}

#mobile-wizard #toggle_all.checkbutton + #select_current + #unselect_current,
.autofilter-container #unselect_current {
	background: url('images/popup_unselect_current.svg') no-repeat center;
}

.autofilter-container #unselect_current {
	height: 16px;
	width: 16px;
	margin: 8px 8px 8px 0px;
	border: none;
}


.autofilter-container #toggle_all.checkbutton > label,
.autofilter-container #toggle_all.checkbutton > input {
	height: 18px;
	line-height: normal;
}

.autofilter-container #check_tree_box.ui-treeview .ui-treeview-body,
.autofilter-container #check_list_box.ui-treeview .ui-treeview-body {
	width: 100%;
	min-width: 200px;
	max-height: 150px;
}

.autofilter-container-submenu > .autofilter-container {
	padding: 0px;
}

.autofilter-container-submenu .autofilter.root-container .ui-treeview {
	border-color: transparent;
}

/* Reference buttons */

.jsdialog-container #source-button,
.jsdialog-container #destination-button,
.jsdialog-container #refbutton,
.jsdialog-container #assign,
.jsdialog-container #output-range-button,
.jsdialog-container #input-range-button {
	background: url('images/refinp1.svg') no-repeat center;
}

.jsdialog-container.collapsed #source-button,
.jsdialog-container.collapsed #destination-button,
.jsdialog-container.collapsed #refbutton,
.jsdialog-container.collapsed #assign,
.jsdialog-container.collapsed #output-range-button,
.jsdialog-container.collapsed #input-range-button {
	background: url('images/refinp2.svg') no-repeat center;
}

/* Word count dialog */

#label9, #documentlabel-mobile {
	color: #636363 !important;
}

#documentlabel-mobile {
	padding-top: 10px;
}

#wordslabel,
#inclspaceslabel,
#exclspaceslabel,
#cjkcharsft,
#wordslabel2,
#inclspaceslabel2,
#exclspaceslabel2,
#cjkcharsft2
{
	float: left;
	clear: left;
	width: 70%;
	color: #636363 !important;
}

#selectwords,
#selectchars,
#selectcharsnospaces,
#selectcjkchars,
#docwords,
#docchars,
#doccharsnospaces,
#doccjkchars
{
	float: right;
	clear: right;
	width: 20%;
	border-bottom: none;
	color: #636363 !important;
}

/* Dialog-specific excelptions*/
#DefineNameDialog .cell.jsdialog,
#ManageNamesDialog .cell.jsdialog {
	padding-left: 0px;
}

#table-Selection .jsdialog.ui-listbox {
	margin: 8px 2px 2px;
}

#SelectSourceDialog .ui-frame-label {
	display: none;
}

#hideitems {
	border: none;
}

/* Fontwork dialog */

#FontworkGalleryDialog #ctlFavoriteswin {
	width: 400px;
	height: 400px;
}
#FontworkGalleryDialog #label1 {
	display: none;
}

/* Macros dialos */

#MacroWarnMedium p {
	max-width: 400px;
	color: #333;
	text-transform: none;
}

#MacroSelectorDialog #helpmacro {
	margin-bottom: 8px;
	text-transform: none;
	font-size: 12px;
}

#MacroSelectorDialog #table-box2 {
	width: auto;
}

#MacroSelectorDialog #table-box2 > .row > .cell.jsdialog {
	width: auto;
}

#MacroSelectorDialog #table-box2 > .row > .cell.jsdialog:first-of-type {
	width: 47%;
}

#MacroSelectorDialog #table-frame1 {
	width: auto;
	margin-left: 47%;
}

#MacroSelectorDialog #description {
	text-transform: none;
}

#MacroSelectorDialog #table-frame3 {
	width: 100%;
}

#MacroSelectorDialog #table-frame3 .jsdialog.ui-alignment,
#MacroSelectorDialog #table-frame2,
#MacroSelectorDialog #table-frame2 .vertical.jsdialog.ui-alignment {
	width: auto;
}

#MacroSelectorDialog #commands,
#MacroSelectorDialog #categories {
	height: 150px;
}

#MacroSelectorDialog #categories {
	box-sizing: border-box;
	border-color: transparent;
	padding-right: 8px
}

#MacroSelectorDialog #categories .ui-treeview-entry.selected {
	color: #222;
	background-color: #dfdfdf;
	border-radius: 3px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

#MacroSelectorDialog #categories .ui-treeview-entry.selected::after {
	margin-right: -6px;
	margin-right: -11px;
	color: #dfdfdf;
	content: '\23F5';
	font-size: 16px;
}

#MacroSelectorDialog #categories .ui-treeview-entry {
	color: #555;
}

#MacroSelectorDialog #categories .ui-treeview-entry:hover {
	box-shadow: inset -6px 0 0 white;
}

#MacroSelectorDialog #categories > tbody > ul > li > ul .ui-treeview-expandable.selected > .ui-treeview::before {
	/* visibility: hidden; hide when javascript sets properly expanders*/
}
#MacroSelectorDialog #categories .ui-treeview-entry:hover, .ui-treeview-entry.selected, .ui-listview-entry:hover, .ui-listview-entry.selected {
	background-color: #dfdfdf;
}

#MacroSelectorDialog #table-frame3 .jsdialog.ui-treeview-entry {
	padding-left: 8px;
}

/* color selector */
.unotoolbutton .selected-color {
	height: 5px;
	width: 24px;
	position: relative;
	top: -6px;
	border: 1px solid var(--gray-color);
}

/* dropdown arrow */
.unoarrow, .menubutton .arrow {
	width: 0px;
	height: 0px;
	font-size: 0;
	line-height: 0;
	border: 4px solid transparent;
	border-top: 5px solid var(--gray-light-txt--color);
	display: inline-block;
	margin-left: 3px;
}

.arrowbackground {
	width: 15px;
	height: 23px;
	display: inline-block;
}

.arrowbackground:hover {
	border: 1px solid lightgrey;
}

/* menu button */
.jsdialog.menubutton {
	line-height: normal;
	font-size: 14px;
	font-family: var(--jquery-ui-font);
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 8px 10px;
	margin: 2px 0px;
	background-color: #F1F1F1;
}

.menubutton span {
	margin: 0px 5px;
}

.jsdialog.menubutton img {
	vertical-align: middle;
}

.menubutton .arrow {
	display: table-cell !important;
	float: right;
	margin: 5px 0px 5px 5px;
}

/* toolbox */
.jsdialog.toolbox {
	display: flex;
}

/* spinner */
.spinner {
	border: 6px solid #f3f3f3; /* Light grey */
	border-top: 6px solid grey; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* busy popup */

#busypopup.jsdialog-container {
	background: white;
}

#busypopup .lokdialog {
	z-index: 1;
}

#busypopup .vertical {
	margin: auto;
}

#busypopup #busyspinner {
	margin: -20px auto 0px;
}

#busypopup #busylabel {
	margin: 20px;
	text-align: center;
	font-size: 100%;
	text-transform: initial;
}

#busypopup #spinner-paper-g {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
	animation-play-state: running;
	-webkit-animation-name: spinner-saving-anim;
	animation-name: spinner-saving-anim;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
@keyframes spinner-saving-anim{
	0%{transform: translateY(-20px) translateX(0px); opacity: 0;}
	20%{transform: translateY(5px) translateX(15px); opacity: 1;}
	45%{transform: translateY(22px) translateX(-10px); opacity: 1;}
	100%{transform: translateY(60px) translateX(15px); opacity: 0;}
}
@-webkit-keyframes spinner-saving-anim{
	0%{transform: translateY(-20px) translateX(0px); opacity: 0;}
	20%{transform: translateY(5px) translateX(15px); opacity: 1;}
	45%{transform: translateY(22px) translateX(-10px); opacity: 1;}
	100%{transform: translateY(60px) translateX(15px); opacity: 0;}
}

.spinner-img.text-doctype #spinner-box-f-right {
	fill: rgba(var(--blue1-txt-primary-color),0.5);
}
.spinner-img.text-doctype #spinner-box-f-left {
	fill: rgba(var(--blue1-txt-primary-color),0.2);
}
.spinner-img.text-doctype #spinner-inner-right {
	fill: rgba(var(--blue1-txt-primary-color),0.5);
}
.spinner-img.text-doctype #spinner-box-back {
	fill: rgba(var(--blue1-txt-primary-color),0.4);
}
.spinner-img.text-doctype #spinner-handle {
	stroke: rgba(var(--blue1-txt-primary-color),0.8);
}
.spinner-img.text-doctype #spinner-inner-left-linearGradient stop:first-child {
	stop-color: rgba(var(--blue1-txt-primary-color));
	stop-opacity: 0.7;
}
.spinner-img.text-doctype #spinner-inner-left-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--blue1-txt-primary-color));
	stop-opacity: 0.5;
}
.spinner-img.text-doctype #spinner-paper-fold {
	fill: rgba(var(--blue1-txt-primary-color),0.8);
}
.spinner-img.text-doctype #spinner-paper-linearGradient stop:first-child {
	stop-color: rgba(var(--blue1-txt-primary-color));
	stop-opacity: 0.3;
}
.spinner-img.text-doctype #spinner-paper-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--blue1-txt-primary-color));
	stop-opacity: 0.2;
}

.spinner-img.spreadsheet-doctype #spinner-box-f-right {
	fill: rgba(var(--green0-txt-primary-color),0.5);
}
.spinner-img.spreadsheet-doctype #spinner-box-f-left {
	fill: rgba(var(--green0-txt-primary-color),0.2);
}
.spinner-img.spreadsheet-doctype #spinner-inner-right {
	fill: rgba(var(--green0-txt-primary-color),0.5);
}
.spinner-img.spreadsheet-doctype #spinner-box-back {
	fill: rgba(var(--green0-txt-primary-color),0.4);
}
.spinner-img.spreadsheet-doctype #spinner-handle {
	stroke: rgba(var(--green0-txt-primary-color),0.8);
}
.spinner-img.spreadsheet-doctype #spinner-inner-left-linearGradient stop:first-child {
	stop-color: rgba(var(--green0-txt-primary-color));
	stop-opacity: 0.7;
}
.spinner-img.spreadsheet-doctype #spinner-inner-left-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--green0-txt-primary-color));
	stop-opacity: 0.5;
}
.spinner-img.spreadsheet-doctype #spinner-paper-fold {
	fill: rgba(var(--green0-txt-primary-color),0.8);
}
.spinner-img.spreadsheet-doctype #spinner-paper-linearGradient stop:first-child {
	stop-color: rgba(var(--green0-txt-primary-color));
	stop-opacity: 0.3;
}
.spinner-img.spreadsheet-doctype #spinner-paper-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--green0-txt-primary-color));
	stop-opacity: 0.2;
}

.spinner-img.presentation-doctype #spinner-box-f-right {
	fill: rgba(var(--orange1-txt-primary-color),0.5);
}
.spinner-img.presentation-doctype #spinner-box-f-left {
	fill: rgba(var(--orange1-txt-primary-color),0.2);
}
.spinner-img.presentation-doctype #spinner-inner-right {
	fill: rgba(var(--orange1-txt-primary-color),0.5);
}
.spinner-img.presentation-doctype #spinner-box-back {
	fill: rgba(var(--orange1-txt-primary-color),0.4);
}
.spinner-img.presentation-doctype #spinner-handle {
	stroke: rgba(var(--orange1-txt-primary-color),0.8);
}
.spinner-img.presentation-doctype #spinner-inner-left-linearGradient stop:first-child {
	stop-color: rgba(var(--orange1-txt-primary-color));
	stop-opacity: 0.7;
}
.spinner-img.presentation-doctype #spinner-inner-left-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--orange1-txt-primary-color));
	stop-opacity: 0.5;
}
.spinner-img.presentation-doctype #spinner-paper-fold {
	fill: rgba(var(--orange1-txt-primary-color),0.8);
}
.spinner-img.presentation-doctype #spinner-paper-linearGradient stop:first-child {
	stop-color: rgba(var(--orange1-txt-primary-color));
	stop-opacity: 0.3;
}
.spinner-img.presentation-doctype #spinner-paper-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--orange1-txt-primary-color));
	stop-opacity: 0.2;
}

.spinner-img.drawing-doctype #spinner-box-f-right {
	fill: rgba(var(--yellow0-txt-primary-color),0.5);
}
.spinner-img.drawing-doctype #spinner-box-f-left {
	fill: rgba(var(--yellow0-txt-primary-color),0.2);
}
.spinner-img.drawing-doctype #spinner-inner-right {
	fill: rgba(var(--yellow0-txt-primary-color),0.5);
}
.spinner-img.drawing-doctype #spinner-box-back {
	fill: rgba(var(--yellow0-txt-primary-color),0.4);
}
.spinner-img.drawing-doctype #spinner-handle {
	stroke: rgba(var(--yellow0-txt-primary-color),0.8);
}
.spinner-img.drawing-doctype #spinner-inner-left-linearGradient stop:first-child {
	stop-color: rgba(var(--yellow0-txt-primary-color));
	stop-opacity: 0.7;
}
.spinner-img.drawing-doctype #spinner-inner-left-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--yellow0-txt-primary-color));
	stop-opacity: 0.5;
}
.spinner-img.drawing-doctype #spinner-paper-fold {
	fill: rgba(var(--yellow0-txt-primary-color),0.8);
}
.spinner-img.drawing-doctype #spinner-paper-linearGradient stop:first-child {
	stop-color: rgba(var(--yellow0-txt-primary-color));
	stop-opacity: 0.3;
}
.spinner-img.drawing-doctype #spinner-paper-linearGradient stop:nth-child(2) {
	stop-color: rgba(var(--yellow0-txt-primary-color));
	stop-opacity: 0.2;
}