.sidebar.cell {
	display: inline-flex;
}

.sidebar * {
	font-family: var(--jquery-ui-font);
	text-transform: none !important;
}

.sidebar .ui-content .unobutton {
	margin: 0px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

#sidebar-dock-wrapper {
	padding: 0;
	border-left: 1px solid var(--gray-color) !important;
	margin-top: 0px !important;
}

.sidebar.spinfield {
	max-width: 100px;
	border: 1px solid #CCC;
	padding: 0.2em 0 0.2em 0.2em;
	border-radius: 3px;
	height: 28px;
	box-sizing: border-box;
}

.sidebar.ui-listbox {
	font-size: 13px;
	height: 28px;
	box-sizing: border-box;
	padding: 0 14px 0 4px;
	min-width: auto;
}

.sidebar.ui-expander {
	display: flex;
	justify-content: space-between;
	width: 280px;
}

.sidebar.ui-drawing-area {
	max-width: 330px;
}

.sidebar.ui-expander-label {
	color: var(--gray-light-txt--color);
	font-size: 11px;
	line-height: 23px;
	font-weight: bold;
}

.sidebar.ui-expander-label.expanded {
	padding-left: 14px;
	font-size: 11px;
	line-height: 23px;
	font-weight: bold;
}

.sidebar.ui-expander-label.expanded:before {
	margin-right: 0;
	position: absolute;
	left: 14px;
}

.sidebar.root-container.jsdialog > .jsdialog.sidebar {
	width: 100%;
}

.sidebar-container > .root-container.jsdialog.sidebar {
	margin: 0;
}

td.jsdialog .jsdialog.cell.sidebar {
	padding: 4px 4px 4px 0;
	width: auto;
}

.sidebar.jsdialog.checkbutton {
	font-size: 13px;
}

.sidebar .menu-entry-icon {
	width: 24px;
	height: 24px;
}

.sidebar.unotoolbutton,
.sidebar #resetattr,
.sidebar #FormatPaintbrush{
	border: 1px solid transparent;
	margin-right: 5px;
}
.sidebar.unotoolbutton:hover,
.sidebar #resetattr:hover,
.sidebar #FormatPaintbrush:hover {
	border-color: #cccccc;
	background-color: #eeeeee;
	border-radius: 4px;
}

.sidebar #font select,
.sidebar #fontsizecombobox select {
	margin: 0;
}