.sidebar.cell {
	display: inline-flex;
}

.sidebar .ui-content .unobutton {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
}

.sidebar.spinfield {
	max-width: 100px;
}

.sidebar.ui-listbox {
	max-width: 190px;
}

.ui-expander + .sidebar.ui-expander-content {
	margin-left: -30px;
}

.sidebar.ui-drawing-area {
	max-width: 330px;
}