#document-container {
	border-top: 1px solid #B6B6B6;
	background: #DFDFDF;
	position: absolute;
	top: 77px;
	bottom: 33px;
	right: 0px;
	left: 0px;
}

#document-container.tablet {
	top: 36px;
}

#document-container.readonly {
	top: 36px;
}

#toolbar-wrapper.readonly {
	display: none;
}

#sidebar-dock-wrapper.tablet {
	top: 41px;
}

#map {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	cursor: auto;
}
#document-container.text-doctype > #map{
	cursor: text;
}
.scroll-container .mCSB_scrollTools.mCSB_1_scrollbar {
	position: absolute;
	z-index: 1000;
}

.loleaflet-scrollbar-show {
	opacity: 1 !important;
	filter: "alpha(opacity=100)" !important;
	-ms-filter: "alpha(opacity=100)" !important;
}

.table-column-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-column-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: col-resize;
}

.table-column-resize-marker:hover {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-column-resize-marker-hover.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: col-resize;
}

.table-row-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-row-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: row-resize;
}

.table-row-resize-marker:hover {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-row-resize-marker-hover.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: row-resize;
}

.table-row-or-column-select-marker {
	margin: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-row-or-column-select-marker.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.table-move-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-move-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: col-resize;
}

body {
	margin: 0;
	overflow: hidden;
	overscroll-behavior-y: none; /* disable the pull to reload gesture */
	background: #ffffff;
	touch-action: none;
}

#presentation-controls-wrapper {
	background: #dfdfdf;
	position: absolute;
	top: 77px;
	left: 0px;
	bottom: 66px;
	max-width: 218px;
	border-top: 1px solid #b6b6b6;
	display: block;
}

#presentation-controls-wrapper.drawing {
	bottom: 40px; /* Hide the presentation toolbar (insert slide etc.) for doctype = drawing */
}

#presentation-controls-wrapper.readonly {
	top: 36px;
}

#sidebar-dock-wrapper {
	display: none;
	background: #fff;
	position: absolute;
	top: 77px;
	right: 0px;
	bottom: 37px;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	overflow: hidden;
	z-index: 990;
}

#sidebar-panel {
	padding: 0px;
	margin: 0px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1200;
}

#toolbar-wrapper {
	position: relative;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #bbbbbb;
}

#toolbar-logo {
	width: 0;
}

/* Hide hamburger except on mobile phones */
#toolbar-hamburger {
	width: 0;
}

#mobile-edit-button {
	position: absolute;
	width: 56px;
	height: 56px;
	right: 16px;
	bottom: 16px;
	background-color: #0b87e7;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1001;
}

#mobile-edit-button.impress {
	bottom: 70px;
}

#mobile-edit-button-image {
	position: relative;
	left: 16px;
	top: 16px;
	width: 24px;
	height: 24px;
	background: url('images/baseline-edit-24px.svg') no-repeat center !important;
}
#mobile-edit-button:active{
	transform: scale(1.2);
	transition: transform 0.5s;
}
#mobile-edit-button-image:active {
	transform: rotate(45deg);
	transition: transform 0.5s;
}
@media (max-width: 900px) {
	#menu-last-mod {
		display: none;
	}
}

.loleaflet-font {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

.loleaflet-character {
	table-layout: fixed;
	font: 17px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: center;
}

.loleaflet-character td {
	width: 20px;
}

.annotation-button {
	margin-right: 10px;
}

.loleaflet-scrolled {
	overflow: auto;
}

.loleaflet-mobile-container {
	top: 30px;
	margin: 0;
	width: 1px;
	opacity: 0;
}

.loleaflet-context-down {
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
}

.loleaflet-mobile-input {
	width: 1px;
	padding: 0px;
	border: 0px;
}

/* Important to override context-menu-icon's font-family here otherwise, jquery-contextmenu.css
 * will try to load its own font file which is not available in dist/ */
.context-menu-icon::before {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif !important;
	content: '\2713';
	color: #000 !important;
}
.context-menu-icon-lo-checkmark:before {
	content: '\2713';
}

.context-menu-hover
{
    background-color: #0b87e7 !important;
    color: #fff !important;
}

.loleaflet-annotation {
	position: absolute;
	text-align: center;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
}

.loleaflet-annotation-content-wrapper, .loleaflet-annotation-redline-content-wrapper {
	padding: 8px;
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 13px;
	text-align: left;
	background-color: #efefef;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	color: #222;
	border: none;
	border-radius: 2px;
	width: 240px;
}

.loleaflet-annotation-content {
	margin: 3px 3px;
	line-height: 1.4;
}

.loleaflet-dont-break {
		/* These are technically the same, but use both */
		overflow-wrap: break-word;
	word-wrap: break-word;

	/* Don't eat new lines  */
	white-space: pre-wrap;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.loleaflet-annotation-content-author {
	margin: 0;
	margin-top: 2px;
	height: 18px;
}

.loleaflet-annotation-content-resolved {
	color: green;
}

.loleaflet-annotation-edit {
	margin: 3px 3px;
	line-height: 1.4;
}

.loleaflet-annotation-textarea {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 13px;
	border: 1px solid #c8c8c8;
	background-color: white;
	overflow-x: hidden;
	height: 50px;
	width: 95%;
}

.loleaflet-div-layer {
	position: absolute;
	left: 0;
	top: 0;
}

.loleaflet-annotation-table {
	border-spacing: 0;
	border-collapse: separate;
	white-space: nowrap;
	width: 100%;
}

.loleaflet-annotation-img {
	max-width: 32px;
	display: inline-block;
	border: solid 2px;
	border-radius: 50%;
	height: 32px;
	width: 32px;
}
.loleaflet-annotation-img .avatar-img{
	border: none;
}
.loleaflet-annotation-img > .avatar-img{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 32px; /* Width of new image */
	height: 32px; /* Height of new image */
	background: url(images/user.png) center 3px no-repeat;
}

.leaflet-container .leaflet-pane.leaflet-calc-background-pane {
	z-index: 0;
}

.avatar-img {
	border: solid 2px;
	border-radius: 50%;
}

.user-info {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	overflow: auto;
	margin: auto;
}

.loleaflet-annotation-author {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	display: table-cell;
	width: 100%;
	overflow: hidden;
	max-width: 110px;
}

.loleaflet-annotation-menu, .loleaflet-annotation-menu-redline, .loleaflet-redline-accept-button, .loleaflet-redline-reject-button {
	margin: 0;
		padding: 0;
		width: 24px;
		height: 24px;
	vertical-align: top;
	border: 1px solid transparent;
	display: inline-block;
}

.loleaflet-redline-accept-button {
		background: url('images/lc_accepttrackedchanges.svg') no-repeat center !important;
}

.loleaflet-redline-reject-button {
		background: url('images/lc_rejecttrackedchange.svg') no-repeat center !important;
}

.loleaflet-annotation-menu, .loleaflet-annotation-menu-redline {
	background: url('images/submenu.svg') no-repeat center/contain !important;
}

.loleaflet-annotation-menu:hover, .loleaflet-annotation-menu-redline:hover, .loleaflet-redline-accept-button:hover, .loleaflet-redline-reject-button:hover {
	border: 1px solid darkgrey;
}

.loleaflet-annotation-date {
	font-size: 11px;
}

.loleaflet-annotation-menubar {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.loleaflet-annotation-caption {
		font-weight: bold;
}

.loleaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	display: inline-block;
	margin: 3px;
	vertical-align: middle;
}

.loleaflet-bar a,
.loleaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.loleaflet-bar a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.loleaflet-bar a:hover {
	background-color: #f4f4f4;
}

.loleaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.loleaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}

.loleaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}

.loleaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.loleaflet-control-scroll-up,
.loleaflet-control-scroll-down {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}

.lokdialog_container.lokdialog_notitle .ui-dialog-titlebar {
	display: none;
}

.lokdialog_container.ui-dialog.ui-widget-content {
	padding: 0px;
	overflow: visible;
	width: auto;
	height: auto;
	border: none;
	background-color: transparent;
	z-index: 1105;
}

.lokdialog.ui-dialog-content.ui-widget-content {
	padding: 0px;
	overflow: auto;
}

.lokdialog_canvas {
		cursor: default;
		display: block; /* required to remove all borders around canvas element */
		caret-color: transparent; /* firefox shows a caret otherwise on top-left of the canvas */
		user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
}
