@media (max-width: 767px), (max-device-height: 767px) {
  .logo {
    background-size: 100px;
    max-width: 24px;
    max-height: 31px;
    top: 0;
  }

  #toolbar-logo {
    width: 0px !important;
  }
  #main-menu{
    width: 98%;
  }
  #main-menu > li{
    min-height: 56px;
    border: none;
  }
  #main-menu > li > a{
    font-size: 18px !important;
    border: none;
  }
  .lo-menu ul{
    border: none;
    background-color: #f7f7f7;
  }
  .lo-menu ul > li{
    height: auto;

  }
  .lo-menu ul > li > ul > li > a{
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .lo-menu ul >li > .separator{
    display: none;
  }
  .lo-menu ul > li > a{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
  }
#document-header{
  display: none !important;
}

}

#main-menu {
    top: 0;
    height: 25px;
    z-index: 1000;
    outline: none;
    float: left;
    background-color: transparent;
    margin-left: 5px;
    white-space: nowrap;
    display: inline;
}

#main-menu.readonly {
    top: 0px;
}

#document-header {
    position: relative;
    background: #ffffff;
    margin-right: 5px;
}

.document-logo {
	position: relative;
	width: 22px;
	height: 30px;
}

.document-title {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    white-space: nowrap;
}

#document-titlebar {
    position: relative;
    display: inline-block;
    table-layout: fixed;
    border-spacing: 5px 0px;
    max-height: 39px;
}

.main-nav {
    height: 30px; /* on mouseover menubar items, border emerges */
    width: auto;
    background: #ffffff;
    margin: 3px;
    white-space: nowrap;
}

/* Customizations to sm-simple theme to make it look like LO menu, lo-menu class */
.lo-menu {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lo-menu a, .lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active {
    font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.lo-menu ul a, .lo-menu ul a:hover, .lo-menu ul a:focus, .lo-menu ul a:active {
    font-size: 12px;
}

.lo-menu a.disabled {
    cursor: default;
}

.lo-menu > li > a, .lo-menu > li > a.has-submenu {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    z-index: 500;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid transparent;
}

.lo-menu {
    background: #ffffff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}
.lo-menu a, .lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active, .lo-menu a.highlighted {
    padding: 5px 22px;
    color: #000;
}
.lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active, .lo-menu a.highlighted {
    background: #0b87e7;
    color: #fff;
}
.lo-menu > li, .lo-menu > li > a.disabled {
    background: #ffffff; /* top-level menus remain greyish */
    border-left-color: transparent;
}
.lo-menu > li > a:hover, .lo-menu > li > a:focus, .lo-menu > li > a:active, .lo-menu > li > a.highlighted {
    background: #fff;
    color: #000;
    border-color: #bbbbbb;
    border-bottom: 1px solid #bbb;
}
.lo-menu > li > a.highlighted {
    border-bottom-color: #fff;
}
.lo-menu > li > ul {
    margin-top: -1px !important;
    z-index: 400;
}
.lo-menu > li > a span.sub-arrow {
    display: none;
}
.lo-menu ul {
    border: 1px solid #bbbbbb;
    background: white;
}
.lo-menu ul a span.sub-arrow {
    right: 0;
    margin-right: 5px;
    background: transparent; /* we want them to be transparent always whether mobile or desktop */
}
.lo-menu ul > li {
    border-left: 0;
    border-top: none;
}
.lo-menu a.separator {
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #efefef;
}
/* lo-menu customizations end */

.main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    overflow: hidden;
}

/* Mobile menu toggle button */

.main-menu-btn {
    margin: 2px 10px;
    position: relative;
    display: none;
    width: 21px;
    height: 21px;
    text-indent: 21px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 20px;
    background: #555;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* always show the menu in desktop view */
#main-menu-state:not(:checked) ~ #main-menu {
    display: block;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

.readonly {
    top: 3px;
}

/* Some more lo-menu specific customizations */

/* The smartmenus plugin doesn't seem to have support for icons, so implement our own pseudo-elements */
.lo-menu-item-checked::before {
    position: absolute;
    content: '\2713';
    left: 5px;
    top: 5px;
}

.lo-menu-item-checked:hover::before {
    color: #fff;
}

.writer-icon-img {
	background-image: url('images/x-office-document.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: bottom;
}

.calc-icon-img {
	background-image: url('images/x-office-spreadsheet.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: bottom;
}

.impress-icon-img {
	background-image: url('images/x-office-presentation.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: bottom;
}

@media (max-width: 767px),(max-device-height: 767px) {
    .document-logo {
        width: 35px;
        height: 38px;
    }

    #document-titlebar {
        display: none;
    }

    .document-title {
	display: none;
    }

    /* hide the menu in mobile view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: none;
    }

    .main-menu-btn {
        display: inline-block;
    }

    .main-nav {
        position: absolute;
        height: 0;
        width: 100%;
        top: 41px;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        z-index: 1010;
        bottom: 34px !important;
    }

    #main-menu {
       position: relative;
	top: 0;
    }

    .writer-icon-img {
	background-size: 35px 35px;
    }

    .calc-icon-img {
	background-size: 35px 35px;
    }

    .impress-icon-img {
	background-size: 35px 35px;
    }

    #document-name-input {
        display: none;
    }
}

#menu-last-mod a {
    color: grey;
    text-decoration: underline;
    padding: 8px 15px 7px 15px;
    z-index: 500;
    border: 1px solid transparent;
}
