#main-menu {
    top: 0;
    height: 25px;
    padding-left: 125px;
    z-index: 1000;
    outline: none;
    background-color: transparent;
}

#main-menu.readonly {
    top: 0;
}

.main-nav {
    height: 30px; /* on mouseover menubar items, border emerges */
    background: #efefef;
    position: static;
    margin-left: 10px;
    width: auto;
}

/* Customizations to sm-simple theme to make it look like LO menu, lo-menu class */
.lo-menu {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lo-menu a, .lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active {
    font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.lo-menu ul a, .lo-menu ul a:hover, .lo-menu ul a:focus, .lo-menu ul a:active {
    font-size: 12px;
}

.lo-menu a.disabled {
    cursor: default;
}
.lo-menu > li > a.has-submenu {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    z-index: 500;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.lo-menu {
    background: #efefef;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}
.lo-menu a, .lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active, .lo-menu a.highlighted {
    padding: 5px 22px;
    color: #000;
}
.lo-menu a:hover, .lo-menu a:focus, .lo-menu a:active, .lo-menu a.highlighted {
    background: #538ecd;
    color: #fff;
}
.lo-menu > li, .lo-menu > li > a.disabled {
    background: #efefef; /* top-level menus remain greyish */
}
.lo-menu > li > a:hover, .lo-menu > li > a:focus, .lo-menu > li > a:active, .lo-menu > li > a.highlighted {
    background: #fff;
    color: #000;
    border-color: #bbbbbb;
    border-bottom: 1px solid #bbb;
}
.lo-menu > li > a.highlighted {
    border-bottom-color: #fff;
}
.lo-menu > li > ul {
    margin-top: -1px !important;
    z-index: 400;
}
.lo-menu > li > a span.sub-arrow {
    display: none;
}
.lo-menu ul {
    border: 1px solid #bbbbbb;
    background: white;
}
.lo-menu ul a span.sub-arrow {
    right: 0;
    margin-right: 5px;
    background: transparent; /* we want them to be transparent always whether mobile or desktop */
}
.lo-menu ul > li {
    border-left: 0;
    border-top: none;
}
.lo-menu a.separator {
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #efefef;
}
/* lo-menu customizations end */

.main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    overflow: hidden;
}

/* Mobile menu toggle button */

.main-menu-btn {
    z-index: 2000;
    float: right;
    top: 5px;
    margin: 2px 10px;
    position: relative;
    display: none;
    width: 21px;
    height: 21px;
    text-indent: 21px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 20px;
    background: #555;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* always show the menu in desktop view */
#main-menu-state:not(:checked) ~ #main-menu {
    display: block;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

.readonly {
    top: 3px;
}

@media (max-width: 768px),(max-device-height: 768px) {
    #document-logo {
        display: none;
    }

    #document-titlebar {
        display: none;
    }

    .document-title {
	display: none;
    }

    /* hide the menu in mobile view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: none;
    }

    .main-menu-btn {
        display: inline-block;
        position: relative;
        top: 0px;
    }

    .main-nav {
        position: absolute;
        width: 100%;
        margin: 0;
    }

    #main-menu {
	position: relative;
	top: 0;
    }

    .main-nav {
        position: absolute;
        height: 0;
        width: 100%;
        top: 41px;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        z-index: 1000;
    }

}

/* Some more lo-menu specific customizations */

/* The smartmenus plugin doesn't seem to have support for icons, so implement our own pseudo-elements */
.lo-menu-item-checked::before {
    position: absolute;
    content: '\2713';
    left: 5px;
    top: 5px;
}

.lo-menu-item-checked:hover::before {
    color: #fff;
}
