@media (max-device-width: 767px) {
	.logo {
		background-size: 100px;
		max-width: 24px;
		max-height: 31px;
		top: 0;
	}

	#toolbar-logo {
		width: 0px !important;
	}
	#main-menu{
		width: 98%;
	}
	#main-menu > li{
		min-height: 56px;
		border: none;
	}
	#main-menu > li > a{
		font-size: 18px !important;
		border: none;
	}
	.lo-menu ul{
		border: none !important;
		background-color: #f7f7f7 !important;
	}
	.lo-menu ul > li{
		height: auto;

	}
	.lo-menu ul > li > ul > li > a{
		height: 56px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.lo-menu ul >li > .separator{
		display: none;
	}
	.lo-menu ul > li > a{
		width: 100%;
		height: 56px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 14px;
		font-weight: bold;
		color: #404040;
	}
	#document-header{
		display: none !important;
	}
	@media (orientation: landscape) {
		#mobile-wizard.menuwizard #mobile-wizard-content.with-slide-sorter-above {
			overflow-y: auto !important;
		}
	}
}
