@media (max-width: 767px), (max-device-height: 767px){
	span.menu-entry-icon img {
		width: 24px !important;
		margin: 4px !important;
	}

	#mobile-wizard.menuwizard #mobile-wizard-content{
		overflow: hidden !important;
	}

	#mobile-wizard.menuwizard{
		top: 0px !important;
		height: 100% !important;
		z-index: 1500 !important;
	}

	#mobile-wizard.menuwizard #mobile-wizard-back.close-button{
		visibility: hidden !important;
	}

	#toolbar-hamburger.menuwizard-opened{
		z-index: 1501 !important;
		position: relative !important;
		background-color: #dae6f3 !important;
		padding-left: 8px !important;
		border-radius: 0 0 0 100px !important;
	}

	#mobile-wizard.menuwizard #mobile-wizard-titlebar{
		border: none !important;
	}
	span#main-menu-btn-icon {
		filter: none !important;
	}

	#leadingzeroes .spinfieldimage, #decimalplaces .spinfieldimage, .menu-entry-icon.setanchoratchar, .menu-entry-icon.setanchortochar, .menu-entry-icon.setanchortopage, .menu-entry-icon.setanchortocellresize, .menu-entry-icon.setanchortocell{
		display: none;
	}
	.ui-header.level-1.mobile-wizard.ui-widget img[src^='images/lc_downloadas-doc'], .ui-header.level-1.mobile-wizard.ui-widget img[src^='images/lc_downloadas-pp'],.ui-header.level-1.mobile-wizard.ui-widget img[src^='images/lc_downloadas-xls'], .ui-header.level-2.mobile-wizard.ui-widget img[src='images/lc_deleterowbreak.svg'], .ui-header.level-2.mobile-wizard.ui-widget img[src='images/lc_deletecolumnbreak.svg']{
		visibility: hidden;
	}
	.menu-entry-icon.deleterowbreak, .menu-entry-icon.deletecolumnbreak, .menu-entry-icon.downloadas-xls, .menu-entry-icon.downloadas-xlsx, .menu-entry-icon.downloadas-doc, .menu-entry-icon.downloadas-docx, .menu-entry-icon.downloadas-ppt, .menu-entry-icon.downloadas-pptx{
		background-color: #eeeeee;
		border-radius: 100px;
		box-shadow: inset 0 0px 0 8px white;
	}
	.ui-header.level-1.mobile-wizard.ui-widget img[src='images/lc_downloadas-pdf.svg']{
		visibility: visible;
	}

	.layout {
		height: 58px;
		width: 72px;
		overflow: hidden;
		margin: 2px 2px !important;
		display: inline-block;
		border: 1px solid #fff;
	}

	.layout.loleaflet-context-down {
		background-color: #dddddd;
		box-shadow: inset 0px -1px 2px 5px #eee;
		border-color: #dddddd;
		border-radius: 2px
	}

	/*Color-picker*/
	.color-sample-selected {
		height: 32px !important;
		width: 32px !important;
		border: 1px solid #8A8A8A;
		border-radius: 100px;
	}

	.no-color-selected {
		text-align: center;
		font-size: 30pt;
		line-height: 32px;
		font-weight: 300;
		color: #ff0000 !important;
		background-color: #fff !important;
	}

	.colors-container-selected-basic-color{
		box-shadow: 0 2px 3px -2px #0b87e7;
		border-radius: 4px;
	}
	.color-sample-small {
		border: 2px solid #fff;
		width: 28px;
		height: 28px;
		color: #f0f8ff;
		text-align: center;
		vertical-align: bottom;
		display: table-cell;
	}

	.color-sample-big {
		padding: 5px;
		width: 118px;
		height: 42px;
		color: #f0f8ff;
		text-align: right;
		vertical-align: bottom;
		display: table-cell;
		box-shadow: 0px 0px 0px 1px #dddddd, 1px 1px 0 3px #ffffff;
	}

	.colors-container {
		display: table;
	}

	.colors-container-no-color-row {
		display: flex;
		justify-content: space-between;
		height: 50px;
	}

	.colors-container-basic-colors-row {
		padding-bottom: 20px;
	}

	.colors-container-tints {
		padding-bottom: 0px;
	}

	.no-color-control-label {
		display:table-cell;
		padding-left: 4px;
		vertical-align: middle;
	}

	.no-color-control-mark {
		color: #0b87e7 !important;
		font-size: larger;
		line-height: 0;
	}

	.no-color-control-icon {
		display: table-cell;
		height: 32px !important;
		width: 32px !important;
		text-align: center;
		font-size: 26pt;
		line-height: 28px;
		font-weight: 300;
		color: #ff0000 !important;
		background: url(images/lc_square_rounded_unfilled.svg) no-repeat center;
	}

	.colors-container-basic-color-mark {
		border: 4px solid transparent;
		border-top: 5px solid #0b87e7;
		margin-top: 2px;
		position: absolute;
		margin-left: 10px
	}

	.colors-container-tint-mark {
		width: 20px;
		height: 20px;
		background-image: url('images/lc_color-picker-selected.svg');
		margin-left: auto;
		background-repeat: no-repeat;
		background-size: auto;
	}

	p.mobile-wizard.ui-combobox-text:not(.selected) {
		color: #333333 !important;
	}

	p.mobile-wizard.ui-combobox-text.selected {
		background: url(images/lc_listitem-selected.svg) no-repeat right;
		color: #0867af !important;
	}
	#mobile-wizard-content {
		overflow: scroll;
		position: absolute;
		top: 111px;
		bottom: 0px;
		width: 100%;
	}
	#mobile-wizard.funcwizard div#mobile-wizard-content.hideHelpBG {
		background: none !important;
	}
	#mobile-wizard.funcwizard div#mobile-wizard-content.showHelpBG {
		background: url(images/lc_helpindex_secondary.svg) no-repeat right 16px bottom 88px / 124px !important;
	}
	#mobile-wizard-content:not(.with-slide-sorter-above){
		top: 63px !important;
	}
	#mobile-wizard-content.with-slide-sorter-above {
		top: 128px !important;
		overflow-x: hidden;
	}

	.with-slide-sorter-above > .ui-tabs-content > div[title=Layouts]{
		justify-content: center;
		-ms-box-orient: horizontal  !important;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		align-self: center !important;
		align-items: center !important;
		-webkit-flex-wrap: wrap  !important;
		flex-wrap: wrap  !important;
	}
	#rotationlabel{
		display: none;
	}
	@media (orientation: landscape) {
		#mobile-wizard-header{display: none;}
		#mobile-wizard-content.with-slide-sorter-above {
			top: 48px !important;
		}
	}
	@media (orientation: portrait) {
		#mobile-wizard-header{display: block;}
	}

	#mobile-wizard-back.close-button {
		transform: rotate(-90deg);
		background-position-x: center;
	}
	#mobile-wizard-back {
			background-image: url('images/lc_closedocmobile.svg');
			background-repeat: no-repeat;
			width: 48px;
			background-position-x: 16px;
			background-position-y: center;
			height: 20px;
	}

	#mobile-wizard {
			width: 100%;
			position: fixed;
			bottom: 0px;
			z-index: 1000;
			background-color: white;
			box-shadow: 0px -2px 4px 1px #00000030
	}

	#mobile-wizard-tabs {
		height: 63px;
	}

	#mobile-wizard-content *{
		font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
		color: #212121;
	}

	#mobile-wizard-titlebar {
		background-color: white;
		top: 63px;
		height: 48px;
		color: #636363;
		border-bottom: 1px solid #dddddd !important;
	}

	.ui-content.mobile-wizard {
		background-color: white !important;
		border: none !important;
		padding: 0px 12px 16px 12px;
	}

	.ui-header.mobile-wizard {
		width: 92%;
		height: 56px !important;
		font-size: 11pt !important;
		margin: 0px;
		padding: 0px;
		border: solid 1px #fff;
		padding-left: 4% !important;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #fff;
	}

	.ui-header.mobile-wizard:active {
		background-color: #eee;
	}

	.ui-content .unobutton {
		width: 32px;
		height: 32px;
		margin-right: 5px;
		vertical-align: middle;
	}

	.ui-content.unobutton.selected {
		-webkit-filter: grayscale(0) brightness(90%) sepia(90%) hue-rotate(-179deg) saturate(800%) contrast(0.7);
		filter: grayscale(0) brightness(90%) sepia(90%) hue-rotate(-179deg) saturate(800%) contrast(0.7);
		box-shadow: 0 0 0px 8px #e6e6e640;
		border-radius: 0.1px;
		background-color: #e6e6e640;
	}

	#mobile-wizard-content .ui-content > table > tr > td > table > table > tr:first-child > td > img{
		margin-top: 0px !important;
	}

	.ui-content.unospan {
		line-height: 32px;
		display: table;
		padding-left: 4%;
	}
	.ui-content.unolabel {
		display: table-cell;
		vertical-align: middle;
	}

	.sub-menu-title {
		padding-left: 42px;
	}

	.sub-menu-arrow {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		display: table-cell;
		padding-left: 10px;
		padding-right: 10px;
		background: url(images/lc_closedocmobile.svg) no-repeat left / 10px;
		font-size: 1.5em;
		font-weight: bold;
		color: transparent !important;
		vertical-align: middle;
	}

	.func-info-icon {
		display: block;
		background: url(images/lc_helpindex.svg) no-repeat center;
		min-width: 28px;
		min-height: 28px;
	}

	.func-info-sig {
		margin: 1em 0px 1em 4%;
		font-weight: bold;
		color: #444444 !important;
	}

	.func-info-desc {
		margin-left: 4%;
	}

	.entry-value {
		display: table-cell;
		vertical-align: middle;
	}

	.ui-header-right {
		display: table;
		margin-right: 10px;
	}

	.ui-header.level-1.mobile-wizard.ui-widget .ui-header-left span.menu-entry-with-icon {
		vertical-align: middle;
	}
	.flex-fullwidth {
		flex-grow: 100;
	}

	.ui-tabs.mobile-wizard {
		text-align: center;
		height: 42px;
		display: table;
		width: 100%;
		border-spacing: 10px;
	}

	.ui-tab.mobile-wizard {
		display: table-cell;
		width: 49%;
		height: 36px;
		line-height: 36px;
	    vertical-align: middle;
		margin: 0px 1%;
		border-radius: 10px;
		border: none;
		color: #777;
	}

	.ui-tab.selected.mobile-wizard {
		border: none;
		color: #0b87e7;
		border-radius: 0px;
		border-bottom: solid 1px #0b87e7;
	}

	[id|=tb_colorselector] .w2ui-tb-caption > div {
		height: 32px !important;
		width: 32px !important;
	}

	[name|=colorselector] {
		width: 80px;
	}

	.colorimage {
		float: left;
		height: 32px;
	}

	.spinfieldcontainer {
		display: inline-block;
		overflow: hidden;
	}

	.sinfieldcontrols {
		background-color: #eee;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		border-left: 1px solid #ccc;
	}

	.spinfieldunit {
		color: #777 !important;
		width: 30px;
		margin: 0px 10px 0px 10px;
	}

	.plus {
		border-left: 1px solid #ccc;
		width: 48px;
		height: 48px;
		color: #777 !important;
		display: table-cell;
		vertical-align: middle;
	}
	.minus {
		border-right: 1px solid #ccc;
		width: 48px;
		height: 48px;
		color: #777 !important;
		display: table-cell;
		vertical-align: middle;
	}
	.spinfieldcontainer .plus:active, .spinfieldcontainer .minus:active{
		border-color: #0b87e7;
		-webkit-filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
		filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
	}
	.spinfieldimage {
		width: 24px;
		height: 24px;
		vertical-align: middle;
		padding-left: 8px;
	}

	.spinfieldcontainer .sinfieldcontrols {
		height: 49px;
	}
	.spinfieldcontainer input.spinfield {
		padding-top: 0px;
	}
	.leaflet-control-zoom.leaflet-bar{
		border: none !important;
	}
	a.leaflet-control-zoom-in {
		border-radius: 100px !important;
		padding: 8px !important;
		background-color: #0b87e7 !important;
		color: white !important;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19) !important;
		border: none !important;
	}
	#slide-sorter .preview-img{
		border-radius: 3px;
		border-color: #eee;
	}
	#slide-sorter .preview-img-currentpart, #mobile-wizard-header .preview-img-currentpart{
		border-color: #0b87e780;
		border-style: solid;
		border-radius: 3px;
	}
	#presentation-controls-wrapper {
		background: none;
		border: none;
	}

	.mobile-wizard.ui-combobox-text.checked {
		color: #0b87e7 !important;
	}
	#BackColor .w2ui-tb-caption > div, #FontColor .w2ui-tb-caption > div, #BackgroundColor .w2ui-tb-caption > div, #FrameLineColor div, #Color div{
		border-radius:100px !important;
	}
	#toolbar-down table.w2ui-button.checked .w2ui-tb-image{
		-webkit-filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
		filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
		background-size: 18px !important;
	}

	#toolbar-down table.w2ui-button.checked {
		border: 1px solid #e5f1ff;
		background-color: #e5f1ff;
		border-radius: 0px;
	}
	.w2ui-icon.users{
		background-size: 20px !important;
	}
	.ui-content > div{
		margin:16px 0px;
	}
	.ui-content label{
		line-height: 44px;
		vertical-align: top;
		padding-left: 4%;
	}
	#buttonnone + label, #buttonbefore + label, #buttonafter + label, #buttonoptimal + label, #buttonparallel + label, #buttonnone + label, #buttonthrough + label{
		padding-left: 0;
	}
	#Color > img{
		border-radius:100px;
		background-color: #696969;
	}
	#selectheight > img, #selectwidth > img, #selectheight > img, #SendToBack > span, #ObjectBackOne > span, #ObjectForwardOne > span, #BringToFront > span, #FlipVertical > span, #FlipHorizontal > span, #Bold > span, #Italic > span, #Underline > span, #Strikeout > span, #StyleApply > span, #StyleUpdateByExample > span, #StyleNewByExample > span, #Shadowed > span, #Grow > span, #Shrink > span, #Color > span, #Spacing > span, #SuperScript > span, #SubScript > span, #AlignLeft > span, #AlignRight > span, #AlignHorizontalCenter > span, #AlignBlock > span, #ParaLeftToRight > span, #ParaRightToLeft > span, #AlignTop > span, #AlignVCenter > span, #AlignBottom > span, #IncrementIndent > span, #DecrementIndent > span, #LeftPara > span, #RightPara > span, #CenterPara > span, #JustifyPara > span, #DefaultBullet > span, #DefaultNumbering > span, #ParaspaceIncrease > span, #ParaspaceDecrease > span, #LineSpacing > span, #HangingIndent > span, #CellVertTop > span, #CellVertCenter > span, #CellVertBottom > span, div[id*='Row'] > span,  div[id*='Column'] > span, div[id^=Outline] > span, #horizontalpos > img, #verticalpos > img, #nolines > img{
		display: none !important;
	}
	#SendToBack, #ObjectBackOne, #ObjectForwardOne, #BringToFront, #FlipVertical, #FlipHorizontal, #Bold, #Italic, #Underline, #Strikeout, #StyleApply, #StyleUpdateByExample, #StyleNewByExample, #Shadowed, #Grow, #Shrink, #Color, #Spacing, #SuperScript, #SubScript,#AlignLeft, #AlignRight, #AlignHorizontalCenter, #AlignBlock, #ParaRightToLeft, #ParaLeftToRight, #AlignTop, #AlignVCenter, #AlignBottom, #IncrementIndent, #DecrementIndent, #LeftPara, #RightPara, #CenterPara, #JustifyPara, #DefaultBullet, #DefaultNumbering, #ParaspaceIncrease, #ParaspaceDecrease, #LineSpacing, #HangingIndent, #CellVertTop, #CellVertCenter, #CellVertBottom, #ParaspaceIncrease, #ParaspaceDecrease, div[id*='Row'], div[id*='Column'], #DeleteTable, #MergeCells, div[id^=Outline]{
		padding: 16px 28px 16px 4% !important;
		margin: 0px !important;
		float:left;
	}
	#MergeCells > span{
		color: #4d82b8;
		text-align: end;
		vertical-align: bottom;
	}
	#DeleteTable{
		background-color: #fbf4f5;
		border-radius: 6px;
		padding-right: 4% !important;
	}
	#DeleteTable > span{
		font-weight: bold;
		color: #e68497;
		text-align: end;
		vertical-align: bottom;
	}
	.colorcontainer {
		width: 120px;
		float: left;
		padding: 20px 20px 20px 20px !important;
	}
	#belowparaspacing, #spacinglabel, #OutlineRight, #DefaultBullet, #CellVertTop, #rowheight, #columnwidth{float: left;}
	#Color {
		padding: 20px 20px 0px 20px !important;
	}
	#Shadowed, #StyleNewByExample + div, #AlignTop, #AlignBottom + p, #mergecells, #BackgroundColor + p, #LineSpacing, #indentlabel, #spacinglabel, #sizelabel{clear:both;}
	#BackgroundColor + p, #LineSpacing + p, #denominatorplaceslabel, #decimalplaceslabel, #leadingzeroeslabel, #leftindentlabel, #orientationlabel, #cellbackgroundlabel, .mobile-wizard.ui-text {
		border-bottom: 1px solid #c2d5ed;
		color: #b3c5dc !important;
		margin-left: 4%;
		width: 98%;
		font-size: 12px;
		font-weight: bold;
	}
	#DecrementIndent + input:disabled{display: none;}
	div#mobile-wizard-content input[type=number]{
		height: 46px;
		width: 110px;
		margin-left: 10px;
		border: none;
		-moz-appearance: textfield;
	}
	div#mobile-wizard-content .spinfieldcontainer{
		height: 48px;
		margin: 0px 0px 8px 4% !important;
		border: 1px solid #ccc;
		border-radius: 2px;
		background-size: 28px;
	}
	div#mobile-wizard-content .spinfieldcontainer .spinfieldimage {
		opacity: 0.5;
	}
	div#mobile-wizard-content .spinfieldcontainer:active .spinfieldimage, div#mobile-wizard-content .spinfieldcontainer:focus .spinfieldimage, div#mobile-wizard-content .spinfieldcontainer:hover .spinfieldimage {
		opacity: 1 !important;
	}
	div#mobile-wizard-content .spinfield:active .spinfieldimage, div#mobile-wizard-content .spinfield:focus .spinfieldimage, div#mobile-wizard-content .spinfield:hover .spinfieldimage {
		opacity: 1 !important;
	}
	#buttonbefore, #buttonafter, #buttonoptimal, #buttonparallel, #buttonnone, #buttonthrough, #bottom, #top, #standard, #Bold, #Italic, #Underline, #Strikeout{
		margin: 0;
		padding: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 24px 32px 24px 32px;
		background-size: 24px !important;
	}
	#mobile-wizard-content > .unobutton:focus, #mobile-wizard-content .unobutton:active{
		outline: none;
		background-color: #e5f1ff !important;
		box-shadow: 0 0 0px 8px #e5f1ff;
		border-radius: 0.1px;
	}
	#buttonbefore{background: url(images/sc_wrapleft.svg) no-repeat center;}
	#buttonafter{background: url(images/sc_wrapright.svg) no-repeat center;}
	#buttonoptimal{background: url(images/sc_wrapleft.svg) no-repeat center;}
	#buttonparallel{background: url(images/sc_wrapmenu.svg) no-repeat center;}
	#buttonnone{background: url(images/sc_wrapoff.svg) no-repeat center;}
	#buttonthrough{background: url(images/sc_wrapthrough.svg) no-repeat center;}
	#top{background: url(images/sc_aligntop.svg) no-repeat center;}
	#bottom{background: url(images/sc_alignbottom.svg) no-repeat center;}
	#standard{background: url(images/sc_alignverticalcenter.svg) no-repeat center;}

	#mobile-wizard input[type=checkbox]:disabled{
		border: 2px solid #ddd;
		box-shadow: none;
	}
	#mobile-wizard input[type=checkbox]{
		appearance: none;
		width: 24px;
		height: 24px;
		margin: 10px 20px 10px 0px !important;
		float: right;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		border-radius: 2px;
		border: 2px solid #aaa;
		outline: none;
		box-shadow: #00000015 0px 0px 2px 1px;
	}
	#mobile-wizard input[type=checkbox]:checked{
		background: url(images/lc_ok_white.svg) no-repeat center;
		background-color: #0b87e7;
		border-radius: 2px;
		border: 2px solid #0b87e7;
		outline: none;
		box-shadow: none;
	}
	#mobile-wizard input[type=checkbox]:before{
		width: 20px;
		height: 20px;
	}
	#mobile-wizard input[type=checkbox]:after{
		top: -20px;
		width: 16px;
	}
	#enablecontour + label{
		line-height: 44px;
		vertical-align: baseline;
		padding-left: 24px;
	}
	div[title='Table Design'] div[id^=Use]{
		width: 92%;
		padding-right: 4% !important;
	}
	input[type=checkbox]#UseBandingColumnStyle, input[type=checkbox]#UseLastColumnStyle, input[type=checkbox]#UseFirstColumnStyle, input[type=checkbox]#UseBandingRowStyle, input[type=checkbox]#UseLastRowStyle, input[type=checkbox]#UseFirstRowStyle{
		margin-right: 0px !important;
	}
	#mobile-wizard button{
		height: 38px;
		width: 100%;
		border-radius: 4px;
		color: #0b87e7 !important;
		font-weight: bold;
		background-color: #fff;
		text-transform: uppercase;
		border: 1px solid #0b87e7;
	}
	#mobile-wizard button:focus{
		outline: none;
	}
	#mobile-wizard button:active{
		outline: none;
		border: none;
		background-color: #ebf2fb;
	}
	#enablecontour + button {
		float: right;
		margin: 24px 0px;
	}
	div#enablecontour + p, #arrangelabel, #SetMinimalRowHeight {clear: both;}

	/*TODO: missing icon*/
	#fillstyle div img {
		display: none;
	}
}
