
/* tabs */

.ui-tabs.notebookbar {
	display: inline-block;
	z-index: 1000;
}

.ui-tab.notebookbar {
	float: left;
	margin-right: 10px;
	font-size: 12pt;
}

.ui-tab.selected.notebookbar {
	border: none;
	color: #0b87e7;
	border-radius: 0px;
	border-bottom: solid 1px #0b87e7;
	font-weight: bold;
}

.ui-tab.notebookbar:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

/* root container */

.notebookbar-scroll-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

	height: 105px;
	margin-top: -25px;
	padding-top: 5px;
}

.notebookbar-scroll-wrapper::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/* unobuttons */

div[id*='Row'].notebookbar, div[id*='Column'].notebookbar, #SendToBack.notebookbar, #ObjectBackOne.notebookbar, #ObjectForwardOne.notebookbar, #BringToFront.notebookbar, #SetObjectToBackground.notebookbar, #SetObjectToForeground.notebookbar, #FlipVertical.notebookbar, #FlipHorizontal.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar, #StyleApply.notebookbar, #StyleUpdateByExample.notebookbar, #StyleNewByExample.notebookbar, #Shadowed.notebookbar, #Grow.notebookbar, #Shrink.notebookbar, #Spacing.notebookbar, #SuperScript.notebookbar, #SubScript.notebookbar,#AlignLeft.notebookbar, #AlignRight.notebookbar, #AlignHorizontalCenter.notebookbar, #AlignBlock.notebookbar, #ParaRightToLeft.notebookbar, #ParaLeftToRight.notebookbar, #AlignTop.notebookbar, #AlignVCenter.notebookbar, #AlignBottom.notebookbar, #IncrementIndent.notebookbar, #DecrementIndent.notebookbar, #LeftPara.notebookbar, #RightPara.notebookbar, #CenterPara.notebookbar, #JustifyPara.notebookbar, #DefaultBullet.notebookbar, #DefaultNumbering.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #LineSpacing.notebookbar, #HangingIndent.notebookbar, #CellVertTop.notebookbar, #CellVertCenter.notebookbar, #CellVertBottom.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #DeleteTable.notebookbar, #MergeCells.notebookbar{
	padding: 0px !important;
	margin: 0px !important;
}

#buttonbefore.notebookbar, #buttonafter.notebookbar, #buttonoptimal.notebookbar, #buttonparallel.notebookbar, #buttonnone.notebookbar, #buttonthrough.notebookbar, #bottom.notebookbar, #top.notebookbar, #standard.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar{
	margin: 0px !important;
	padding: 0px !important;
}

.unotoolbutton.notebookbar .unobutton {
	width: 24px !important;
	height: 24px !important;
}

.ui-content.notebookbar .unobutton.selected {
	box-shadow: 0 0 0px 4px #e6e6e640 !important;
}

.ui-content.notebookbar .unobutton:hover, #clearFormatting.notebookbar div img:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

.unotoolbutton.notebookbar .selected-color {
	height: 5px;
	width: 24px;
	position: relative;
	top: -4px;
	border: 1px solid silver;
}

/* Home tab */
#clearFormatting.notebookbar div img {
	width: 24px !important;
	height: 24px !important;
}

#clearFormatting.notebookbar {
	height: 24px !important;
}

#Paste.notebookbar img, #InsertAnnotation.notebookbar img, #SearchDialog.notebookbar img {
	height: 32px !important;
	width: 32px !important;
}

#ControlCodes.notebookbar {
	padding-left: 30px !important;
}

#fontnamecombobox.notebookbar ~ .select2 {
	width: 150px !important;
}

#fontsizecombobox.notebookbar ~ .select2 {
	width: 50px !important;
}

#applystyle.notebookbar ~ .select2 {
	width: 170px !important;
}

#table-StyleParagraphSection1.notebookbar, #table-GroupB15.notebookbar, #table-GroupB11.notebookbar {
	margin-top: -5px;
}

#Copy.notebookbar, #clearFormatting.notebookbar, #table-GroupB20.notebookbar {
	margin-top: 10px;
}

/* Inset Tab */

#table-Insert-Container {
	margin-top: 5px;
}

#InsertReferenceField.notebookbar, #InsertSection.notebookbar, #BasicShapes.notebookbar {
	margin-top: 10px;
}

#table-Insert-Section-Pagebreak #InsertPagebreak.notebookbar img,
#table-Insert-Section-Table #InsertTable.notebookbar img,
#InsertObjectChart.notebookbar img,
#table-Insert-Section-Image #InsertGraphic.notebookbar img,
#HyperlinkDialog.notebookbar img,
#InsertFieldCtrl.notebookbar img,
#DrawText.notebookbar img,
#VerticalText.notebookbar img,
#BasicShapes.notebookbar img,
#table-Insert-Section-Symbol #CharmapControl.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

/* Layout Tab */

#table-LayoutBox, #table-Wrap8.notebookbar {
	margin-top: 5px;
}

#FormatGroup.notebookbar img,
#BringToFront.notebookbar img,
#ObjectForwardOne.notebookbar img,
#SendToBack.notebookbar img,
#ObjectBackOne.notebookbar img,
#PageDialog.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-Layout-Section-ParaMargin {
	display: none;
}

#InsertBreak.notebookbar,
#Watermark.notebookbar,
#LineNumberingDialog.notebookbar
{
	margin-top: 10px;
}

/* References Tab */

#table-ReferencesBox
{
	margin-top: 5px;
}

#InsertMultiIndex.notebookbar img,
#InsertFootnote.notebookbar img,
#InsertReferenceField.notebookbar img,
#InsertAuthoritiesEntry.notebookbar img,
#UpdateAll.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#UpdateCurIndex.notebookbar,
#FootnoteDialog.notebookbar,
#InsertCaptionDialog.notebookbar
{
	margin-top: 10px;
}

/* Table Tab */

#table-Table-Container,
#table-SectionBottom85.notebookbar
{
	margin-top: 5px;
}

#table-Table-Section-Layout #InsertCaptionDialog.notebookbar img,
#BorderDialog.notebookbar img,
#MergeCells.notebookbar img,
#EntireCell.notebookbar img,
#OptimizeTable.notebookbar img,
#AutoFormat.notebookbar img,
#TableSort.notebookbar img,
#TableNumberFormatDialog.notebookbar img,
#TableDialog.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-SectionBottom40.notebookbar,
#SplitTable.notebookbar,
#EntireRow.notebookbar,
#DeleteTable.notebookbar,
#table-SectionBottom44.notebookbar
{
	margin-top: 10px !important;
}

#NumberFormatPercent.notebookbar {
	margin-right: 10px;
}

#table-box17.notebookbar #BackgroundColor {
	padding-left: 15px;
}