
/* tabs */

.ui-tabs.notebookbar {
	display: inline-block;
	z-index: 1000;
}

.ui-tab.notebookbar {
	float: left;
	margin-right: 10px;
	font-size: 12pt;
}

.ui-tab.selected.notebookbar {
	border: none;
	color: #0b87e7;
	border-radius: 0px;
	border-bottom: solid 1px #0b87e7;
	font-weight: bold;
}

.ui-tab.notebookbar:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

/* root container */

.root-container.notebookbar {
	position: fixed;
	top: 20px;
}

/* unobuttons */

div[id*='Row'].notebookbar, div[id*='Column'].notebookbar, #SendToBack.notebookbar, #ObjectBackOne.notebookbar, #ObjectForwardOne.notebookbar, #BringToFront.notebookbar, #SetObjectToBackground.notebookbar, #SetObjectToForeground.notebookbar, #FlipVertical.notebookbar, #FlipHorizontal.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar, #StyleApply.notebookbar, #StyleUpdateByExample.notebookbar, #StyleNewByExample.notebookbar, #Shadowed.notebookbar, #Grow.notebookbar, #Shrink.notebookbar, #Spacing.notebookbar, #SuperScript.notebookbar, #SubScript.notebookbar,#AlignLeft.notebookbar, #AlignRight.notebookbar, #AlignHorizontalCenter.notebookbar, #AlignBlock.notebookbar, #ParaRightToLeft.notebookbar, #ParaLeftToRight.notebookbar, #AlignTop.notebookbar, #AlignVCenter.notebookbar, #AlignBottom.notebookbar, #IncrementIndent.notebookbar, #DecrementIndent.notebookbar, #LeftPara.notebookbar, #RightPara.notebookbar, #CenterPara.notebookbar, #JustifyPara.notebookbar, #DefaultBullet.notebookbar, #DefaultNumbering.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #LineSpacing.notebookbar, #HangingIndent.notebookbar, #CellVertTop.notebookbar, #CellVertCenter.notebookbar, #CellVertBottom.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #DeleteTable.notebookbar, #MergeCells.notebookbar{
	padding: 0px !important;
	margin: 0px !important;
}

#buttonbefore.notebookbar, #buttonafter.notebookbar, #buttonoptimal.notebookbar, #buttonparallel.notebookbar, #buttonnone.notebookbar, #buttonthrough.notebookbar, #bottom.notebookbar, #top.notebookbar, #standard.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar{
	margin: 0px !important;
	padding: 0px !important;
}

.unotoolbutton.notebookbar .unobutton {
	width: 24px !important;
	height: 24px !important;
}

.ui-content.notebookbar .unobutton.selected {
	box-shadow: 0 0 0px 4px #e6e6e640 !important;
}

.ui-content.notebookbar .unobutton:hover, #clearFormatting.notebookbar div img:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

.unotoolbutton.notebookbar .selected-color {
	height: 5px;
	width: 24px;
	position: relative;
	top: -4px;
	border: 1px solid silver;
}

/* Reset attributes control */
#clearFormatting.notebookbar div img {
	width: 24px !important;
	height: 24px !important;
}

#clearFormatting.notebookbar {
	height: 24px !important;
}