
/* tabs */

.ui-tabs.notebookbar {
	display: inline-block;
	z-index: 1000;
}

.ui-tab.notebookbar {
	float: left;
	margin-right: 10px;
	font-size: 12pt;
}

.ui-tab.selected.notebookbar {
	border: none;
	color: #0b87e7;
	border-radius: 0px;
	border-bottom: solid 1px #0b87e7;
	font-weight: bold;
}

.ui-tab.notebookbar:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

/* shortcuts bar */

.notebookbar-shortcuts-bar {
	display: inline-block;
	position: relative;
	z-index: 10000;
}

.notebookbar-shortcuts-bar .unotoolbutton.notebookbar {
	margin-right: 10px;
}

.notebookbar-shortcuts-bar .unotoolbutton.notebookbar .unobutton {
	width: 16px !important;
	height: 16px !important;
	margin-right: 0px;
}

/* root container */

.notebookbar-scroll-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

	height: 94px;
	margin-top: -20px;
	padding-top: 5px;
}

.notebookbar-scroll-wrapper::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/* unobuttons */

div[id*='Row'].notebookbar, div[id*='Column'].notebookbar, #SendToBack.notebookbar, #ObjectBackOne.notebookbar, #ObjectForwardOne.notebookbar, #BringToFront.notebookbar, #SetObjectToBackground.notebookbar, #SetObjectToForeground.notebookbar, #FlipVertical.notebookbar, #FlipHorizontal.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar, #StyleApply.notebookbar, #StyleUpdateByExample.notebookbar, #StyleNewByExample.notebookbar, #Shadowed.notebookbar, #Grow.notebookbar, #Shrink.notebookbar, #Spacing.notebookbar, #SuperScript.notebookbar, #SubScript.notebookbar,#AlignLeft.notebookbar, #AlignRight.notebookbar, #AlignHorizontalCenter.notebookbar, #AlignBlock.notebookbar, #ParaRightToLeft.notebookbar, #ParaLeftToRight.notebookbar, #AlignTop.notebookbar, #AlignVCenter.notebookbar, #AlignBottom.notebookbar, #IncrementIndent.notebookbar, #DecrementIndent.notebookbar, #LeftPara.notebookbar, #RightPara.notebookbar, #CenterPara.notebookbar, #JustifyPara.notebookbar, #DefaultBullet.notebookbar, #DefaultNumbering.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #LineSpacing.notebookbar, #HangingIndent.notebookbar, #CellVertTop.notebookbar, #CellVertCenter.notebookbar, #CellVertBottom.notebookbar, #ParaspaceIncrease.notebookbar, #ParaspaceDecrease.notebookbar, #DeleteTable.notebookbar, #MergeCells.notebookbar{
	padding: 0px !important;
	margin: 0px 5px 0px 0px !important;
}

#buttonbefore.notebookbar, #buttonafter.notebookbar, #buttonoptimal.notebookbar, #buttonparallel.notebookbar, #buttonnone.notebookbar, #buttonthrough.notebookbar, #bottom.notebookbar, #top.notebookbar, #standard.notebookbar, #Bold.notebookbar, #Italic.notebookbar, #Underline.notebookbar, #Strikeout.notebookbar{
	margin: 0px !important;
	padding: 0px !important;
}

.unotoolbutton.notebookbar {
	margin-right: 5px !important;
}

.unotoolbutton.notebookbar .unobutton {
	width: 24px !important;
	height: 24px !important;
	margin-right: 0px !important;
}

.unotoolbutton.notebookbar .unolabel {
	padding-left: 5px !important;
}

.unotoolbutton.notebookbar .unobutton.selected {
	box-shadow: 0 0 0px 4px #e6e6e640 !important;
}

.unotoolbutton.notebookbar:not(.disabled):hover, #clearFormatting.notebookbar div img:hover {
	box-shadow: 0 0 0px 4px #e6e6e6b0;
	border-radius: 0.1px;
	background-color: #e6e6e6b0;
	cursor: pointer;
}

.unotoolbutton.notebookbar .selected-color {
	height: 5px;
	width: 24px;
	position: relative;
	top: -4px;
	border: 1px solid silver;
}

/* unobuttons with inline labels */

.inline.notebookbar {
	float: left;
	width: max-content;
	display: inline-table;
}

#FormatPaintbrush span
{
	display: none;
}

/* Writer */

/* Home tab */
#clearFormatting.notebookbar div img {
	width: 24px !important;
	height: 24px !important;
}

#clearFormatting.notebookbar {
	height: 24px !important;
}

#table-fontsize .select2.select2-container {
	width: 60px !important;
}

#Paste.notebookbar img, #InsertAnnotation.notebookbar img, #SearchDialog.notebookbar img {
	height: 32px !important;
	width: 32px !important;
}

#ControlCodes.notebookbar {
	margin-left: 30px !important;
}

#fontnamecombobox.notebookbar ~ .select2 {
	width: 150px !important;
}

#fontsizecombobox.notebookbar ~ .select2 {
	width: 50px !important;
}

#applystyle.notebookbar ~ .select2 {
	width: 170px !important;
}

#table-StyleParagraphSection1.notebookbar,
#table-GroupB15.notebookbar,
#table-GroupB11.notebookbar
{
	margin-top: -5px;
}

#Copy.notebookbar,
#clearFormatting.notebookbar,
#table-Home-Section-Insert #table-GroupB20.notebookbar {
	margin-top: 10px;
}

#table-GroupB94.notebookbar {
	margin-top: -5px;
}

#table-GroupB19 #table-GroupB93.notebookbar {
	margin-left: -60px;
	margin-top: 5px;
}

#table-stylescontainer #style1,
#table-stylescontainer #style2,
#table-stylescontainer #style3,
#table-stylescontainer #style4
{
	border: 1px dashed lightgray;
	cursor: pointer;
}

/* Insert Tab */

#InsertReferenceField.notebookbar,
#InsertSection.notebookbar,
#table-Insert {
	margin-top: 5px;
}

#table-shapes6 #BasicShapes.notebookbar {
	margin-top: 10px;
}

#table-Insert-Section-Pagebreak #InsertPagebreak.notebookbar img,
#table-Insert-Section-Table #InsertTable.notebookbar img,
#InsertObjectChart.notebookbar img,
#table-Insert-Section-Image #InsertGraphic.notebookbar img,
#HyperlinkDialog.notebookbar img,
#InsertFieldCtrl.notebookbar img,
#DrawText.notebookbar img,
#VerticalText.notebookbar img,
#BasicShapes.notebookbar img,
#table-Insert-Section-Symbol #CharmapControl.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-InsertTab.notebookbar #table-GroupB18 #table-SectionBottom32
{
	display: none;
}

/* Layout Tab */

#table-LayoutBox, #table-Wrap8.notebookbar {
	margin-top: 5px;
}

#FormatGroup.notebookbar img,
#BringToFront.notebookbar img,
#ObjectForwardOne.notebookbar img,
#SendToBack.notebookbar img,
#ObjectBackOne.notebookbar img,
#PageDialog.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-Layout-Section-ParaMargin {
	display: none;
}

#InsertBreak.notebookbar,
#Watermark.notebookbar,
#LineNumberingDialog.notebookbar
{
	margin-top: 10px;
}

/* References Tab */

#table-ReferencesBox,
#table-References,
#table-GroupB39 #table-LineA18
{
	margin-top: 5px;
}

#InsertMultiIndex.notebookbar img,
#InsertFootnote.notebookbar img,
#InsertReferenceField.notebookbar img,
#InsertAuthoritiesEntry.notebookbar img,
#UpdateAll.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#UpdateCurIndex.notebookbar,
#FootnoteDialog.notebookbar,
#InsertCaptionDialog.notebookbar
{
	margin-top: 10px;
}

#table-Reference-Section-Field.notebookbar
{
	display: none;
}

/* Table Tab */

#table-Table-Container,
#table-SectionBottom85.notebookbar,
#table-SectionBottom101.notebookbar,
#table-GroupB62.notebookbar #SplitTable
{
	margin-top: 5px;
}

#table-Table-Section-Layout #InsertCaptionDialog.notebookbar img,
#BorderDialog.notebookbar img,
#MergeCells.notebookbar img,
#EntireCell.notebookbar img,
#OptimizeTable.notebookbar img,
#AutoFormat.notebookbar img,
#TableSort.notebookbar img,
#TableNumberFormatDialog.notebookbar img,
#TableDialog.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-Table-Section-Merge #table-GroupB61 #SplitCell.notebookbar img,
#table-Table-Section-Select #table-GroupB65 #SelectTable.notebookbar img
{
	height: 24px !important;
	width: 24px !important;
}

#table-SectionBottom40.notebookbar,
#SplitTable.notebookbar,
#EntireRow.notebookbar,
#DeleteTable.notebookbar
{
	margin-top: 10px !important;
}

#NumberFormatPercent.notebookbar {
	margin-right: 10px;
}

#table-box17.notebookbar #BackgroundColor {
	padding-left: 15px;
}

/* Review Tab */

#table-ReviewBox, #table-Review {
       margin-top: 5px;
}

#SpellingAndGrammarDialog.notebookbar img,
#ThesaurusDialog.notebookbar img,
#TrackChanges.notebookbar img,
#ShowTrackedChanges.notebookbar img,
#ProtectTraceChangeMode.notebookbar img,
#EditDoc.notebookbar img,
#AcceptTrackedChanges.notebookbar img
{
       height: 32px !important;
       width: 32px !important;
}

#WordCountDialog.notebookbar,
#PreviousTrackedChange.notebookbar,
#RejectTrackedChange.notebookbar,
#RejectAllTrackedChanges.notebookbar
{
       margin-top: 10px !important;
}

/* Calc */

/* Home tab */

#table-HomeTab #table-PasteBox1 #table-SectionBottom10 #SortAscending.notebookbar,
#table-HomeTab #table-PasteBox1 #table-SectionBottom10 #DataFilterAutoFilter.notebookbar,
#table-InsertTab #table-GroupB26 #table-SectionBottom32.notebookbar,
#table-Home-Section-Find #SearchDialog.notebookbar
{
	display: none;
}

/* Insert Tab */

#table-InsertBox {
	margin-top: 5px;
}

#DefineName.notebookbar {
	margin-top: 10px !important;
}

#DataDataPilotRun.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

/* Review Tab */

#table-GroupB40 #Hyphenate.notebookbar,
#DeleteAllNotes.notebookbar {
	margin-top: 10px !important;
}

#SpellDialog.notebookbar img,
#TraceChangeMode.notebookbar img,
#AcceptChanges.notebookbar img,
#Protect.notebookbar img,
#ToolProtectionDocument.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

/* Impress */

/* Home Tab */

#table-Home-Section-Slide #table-LineB9.notebookbar
{
	margin-top: 10px;
}

#table-shapes15 #BasicShapes.notebookbar,
#table-HomeTab #table-SectionBottom10.notebookbar #Presentation
{
	display: none;
}

#table-SectionBottom5 #Text.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

/* Insert Tab */

#table-Insert-Section-DrawText #Text.notebookbar img,
#table-Insert-Section-Slide #InsertPage.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

/* Review Tab */

#table-GroupB40 #Hyphenation.notebookbar
{
	margin-top: 10px;
}

#table-GroupB42 #DeleteAllAnnotation.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-GroupB37 #InsertAnnotation.notebookbar
{
	display: none;
}

/* Table Tab */

#table-box11 #FrameLineColor.notebookbar img,
#table-Table-Section-Merge #SplitCell.notebookbar img,
#table-Table-Section-Select #SelectTable.notebookbar img
{
	height: 32px !important;
	width: 32px !important;
}

#table-Table-Section-Layout #table-SectionBottom57.notebookbar
{
	margin-top: 10px;
}

/* other */

.ui-drawing-area-container
{
	position: relative;
}

.ui-drawing-area-loader
{
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 25%;
}

.ui-drawing-area-loader-container
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}