@keyframes vex-fadeout {
	0% {
		opacity: 1; }
	100% {
		opacity: 0; } }

/* Infobar */
.vex-theme-bottom-right-corner .vex-dialog-message {
	font-size: 1em;
}
.vex-dialog-external-url::before {
	content: 'URL';
	border-radius: 3px;
	padding: 1px 2px;
	margin-right: 2px;
	font-size: 11px;
	border: thin solid lightgray;
	background: var(--gray-light-bg-color);
	color: gray;
	box-sizing: border-box;
	vertical-align: top;
	font-weight: bold;
}
.vex-dialog-external-url {
	font-size: 16px;
	font-weight: normal;
}
/* Place above statusbar */
.vex.vex-theme-bottom-right-corner .vex-content {
	bottom: 40px !important;
	right: 10px !important;
}

/* Vex dialogs */
.vex-open .vex-overlay {
	/* TODO: remove specific z-index from our codebase
	so that the following line can also be removed */
	z-index: 2000;
	background-color: #1c5fa814;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0px;
}

.vex-content .vex-footnote {
	color: var(--gray-light-txt--color) !important;
	font-size: 0.78em;
}
/* dialog shown when user is idle */
.vex-open .loleaflet-user-idle {
	background: #ffffffe0 !important;
	font-size: xx-large !important;
	color: #7a8592 !important;
	text-align: center !important;
}
.vex-open .loleaflet-user-idle .vex-dialog-buttons {
	display: none !important;
}

.vex.vex-theme-plain, .vex.vex-theme-bottom-right-corner{
	z-index: 2001 !important;
}

.vex.vex-theme-plain .vex-content,
.vex-dialog-message {
	font-size: 1.1em;
}

.vex.vex-theme-plain .vex-content{
	border: 1px solid #a4a4a4;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	outline: none;
}

.vex-selectable {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.vex.vex-theme-plain .vex-close:before {
	width: 20px;
	height: 20px;
	line-height: 20px;
}

.vex-closing {
	-webkit-animation: vex-fadeout .25s forwards;
	animation: vex-fadeout .25s forwards;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input{
	border-radius: 3px;
	box-shadow: inset 0 0 2px 0 lightgray;
	box-sizing: border-box;
}

.vex {
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Keyboard input keys */
kbd,
.kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.2), 0 2px 0 0 rgba(255,255,255,.7) inset;
	color: #555;
	display: inline-block;
	font-family: monospace;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 4px;
	white-space: nowrap;
}

.kbd--plus {
	color: #ccc;
	padding: 0 2px;
	font-size: 0.65em;
}

.warn-copy-paste {
	width: 100%;
}
