#document-container.parts-preview-document {
        left: 214px;
}

#slide-sorter {
	height: 100%
}

#sidebar-panel {
	height: 100%
}

.preview-frame {
	max-width: 190px;
	white-space: nowrap;
	text-align: center;
	margin: 1em 0;
	}

.preview-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	}

.preview-img {
	/* In draw docs, the width of previews are small, but we want a min of 160px to align it with document's left edge */
	min-width: 160px;
	vertical-align: middle;
	max-width: 164px;
	cursor: pointer;
	border: 2px solid #dfdfdf;
	margin-left: 20px;
	}

@media (max-width: 767px) and (orientation: portrait), (max-device-width: 767px) and (orientation: portrait) {
	#slide-sorter {
		max-height: 60px;
	}

	.preview-img {
		min-width: 37px;
		max-width: 60px;
		max-height: 45px;
		margin: 0px;
	}

	.preview-frame {
		max-height: 60px;
		max-width: initial;
		display: table-cell;
		padding-right: 1em;
	}
}

@media (max-height: 767px) and (orientation: landscape), (max-device-height: 767px) and (orientation: landscape) {
	#slide-sorter {
		max-width: 120px;
	}

	.preview-img {
		min-width: 40px;
		max-width: 40px;
		margin-left: 8px;
	}

	.preview-frame {
		max-height: initial;
		max-width: 66px;
		display: block;
	}
}

/* The current part the user is on. */
.preview-img-currentpart {
    border-color: #000000;
    border-style: solid;
}

/* One of (potentially many) selected parts, but not the current. */
.preview-img-selectedpart {
    border-color: #000000;
    border-style: dotted;
}

/* Highlight where a slide can be dropped when reordering by drag-and-drop. */
.preview-img-dropsite {
    border-bottom: 3px solid #b6b6b6;
}

/* Make it larger on larger displays */
@media (min-width: 768px),(min-device-height: 768px) {
    .preview-img-dropsite {
	border-bottom: 20px solid #b6b6b6;
    }
}
