#document-container.parts-preview-document {
	left: 194px;
	width: calc(100vw - 194px);
}

#slide-sorter {
	height: calc(100% - 36px); /*minus #presentation-toolbar*/
	min-width: 194px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: visible;
	background: #dfdfdf;
	scrollbar-color: #ccc #dfdfdf;
	scrollbar-width: thin;
}

#sidebar-panel {
	height: 100%
}

.preview-frame {
	max-width: 190px;
	white-space: nowrap;
	text-align: center;
	margin: 1em 0;
}

.preview-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.preview-img {
	/* In draw docs, the width of previews are small, but we want a min of 160px to align it with document's left edge */
	min-width: 160px;
	vertical-align: middle;
	max-width: 164px;
	cursor: pointer;
	border: 2px solid #dfdfdf;
	margin-left: 10px;
	margin-right: 10px;
}

/* The current part the user is on. */
.preview-img-currentpart {
	border-color: #000000;
	border-style: solid;
}

/* One of (potentially many) selected parts, but not the current. */
.preview-img-selectedpart {
	border-color: #0b87e780 !important;
	border-style: solid;
}

/* Highlight where a slide can be dropped when reordering by drag-and-drop. */
.preview-img-dropsite {
	border-bottom: 20px solid var(--gray-color);
}
