.findReplaceVex .findreplacetable {
	width: 100%;
}
.findReplaceVex .findreplacetable label, .findReplaceVex .findreplacetable input {
	font-size: .9em;
	width: 95%;
}
.findReplaceVex .vex-content{
	width: 650px !important;
	position: absolute !important;
	z-index: 1100;
	left: calc(50vw - 325px);
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.333);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.vex-dialog-message {
	font-size: 1.2em;
}
.findReplaceVex .btnArrow {
	float: left !important;
	margin: 0px !important;
	margin-right: 6px !important;
	width: 20%;
}
.findReplaceVex .vex-dialog-button {
	text-transform: initial !important;
}
.search-not-found {
	background-color: red;
	-webkit-transition: background-color 0.8s linear;
	-moz-transition: background-color 0.8s linear;
	-o-transition: background-color 0.8s linear;
	transition: background-color 0.8s linear;

}
