.leaflet-selection-marker-start {
	margin-left: -28px;
	width: 30px;
	height: 44px;
	background-image: url('images/handle_start.svg');
	}

.leaflet-selection-marker-end {
	margin-left: -2px;
	width: 30px;
	height: 44px;
	background-image: url('images/handle_end.svg');
	}

.leaflet-cursor-handler {
	margin-left: -14px;
	width: 30px;
	height: 44px;
	background-image: url('images/cursor-handler.svg');
}
