#document-container.spreadsheet-document {
				border-top: 1px solid #B6B6B6;
				top: 137px;
				left: 50px;
				bottom: 65px;
}

#document-container.spreadsheet-document.readonly {
	top: 56px;
}

#document-container.spreadsheet-document.tablet {
	border-top: 1px solid #B6B6B6;
	top: 100px;
	left: 50px;
	bottom: 68px;
}

.spreadsheet-tabs-container {
	margin: 0;
	padding: 0;
	left: 142px;
	right: 0;
	bottom: 33px;
	position: absolute;
	cursor: pointer;
	height: 39px;
	overflow: hidden;
	white-space: nowrap;

	background-color: #efefef;
	}

.spreadsheet-tab-scroll {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-bottom: 20px; /* to hide the horizontal scrollbar */
	padding-right: 5px; /* to hide the vertical scrollbar */

	margin-left: 6px;
	}

.spreadsheet-tab {
	margin: 0px;
	margin-top: 2px;
	margin-right: 3px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 8px;
	padding-bottom: 5px;

	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	display: inline-block;
	border: 1px solid darkgrey;
	background-color: lightgrey;
	color: black;
	}

.spreadsheet-tab-selected {
	background: white !important;
	color: black !important;
	margin-top: 0px;
	padding-top: 9px;
	padding-bottom: 5px;
	margin-top: 2px;
	border: 1px solid #dfdfdf;
	border-top: 0px;
	}

#spreadsheet-row-column-frame {
	position: absolute;
	left: 0;
	right: 0;
	top: 117px;
	bottom: 65px;
}

#spreadsheet-row-column-frame.readonly {
		top: 36px;
		bottom: 0px;
}

#spreadsheet-row-column-frame.tablet {
	top: 80px;
}

#spreadsheet-header-corner-container {
	border: 1px solid darkgrey;
	background-color: #f1f4f7;
	cursor: pointer;

	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0px;
	top: 0;
	width: 48px;
	height: 19px;
	}

#spreadsheet-header-corner {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-corner-styles {
	border: 1px solid darkgray;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #f1f4f7;
	cursor: pointer;
	}

#spreadsheet-header-columns-container {
	border: 1px solid darkgrey;
	background-color: lightgrey;

	position: absolute;
	display: inline-block;
	white-space: nowrap;
	left: 49px;
	top: 0;
	right: 0;
	height: 19px;
	overflow: hidden;
	}

.spreadsheet-header-columns {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-column {
	border: 1px solid darkgray;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #f1f4f7;
	cursor: pointer;
}

.spreadsheet-header-column-hover {
	background-color: #DDD;
}

.spreadsheet-header-column-selected {
	color: white;
  background: linear-gradient(#0b87e7, #0b87e7, #0b87e7);
}

.spreadsheet-header-column-resize {
	cursor: col-resize;
}

#spreadsheet-header-rows-container {
	border: 1px solid darkgrey;
	background-color: lightgrey;

	position: absolute;
	left: 0;
	top: 20px;
	width: 48px;
	bottom: 0;
	overflow: hidden;
	}

.spreadsheet-header-rows {
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	}

.spreadsheet-header-row {
	border: 1px solid darkgray;
	font: 12px/1.5 "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #f1f4f7;
	cursor: pointer;
	}

.spreadsheet-header-row-hover {
	background-color: #DDD;
	}

.spreadsheet-header-row-selected {
	color: white;
	background: linear-gradient(#0b87e7, #0b87e7, #0b87e7);
	}

.spreadsheet-header-row-resize {
	cursor: row-resize;
	}

.spreadsheet-cell-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	background-image: url('images/cell-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spreadsheet-cell-autofill-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	background-image: url('images/cell-autofill-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spreadsheet-drop-down-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 18px;
	height: 17px;
	background-image: url('images/drop-down-button.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}
