@media (max-width: 767px), (max-device-height: 767px) {

	@-moz-document url-prefix() {
		#spreadsheet-row-column-frame.readonly {
			top: 36px !important;
		}
		#document-container.spreadsheet-document.readonly {
			top: 56px !important;
		}
		#spreadsheet-row-column-frame {
			top: 75px !important
		}
		#document-container.spreadsheet-document {
			top: 95px !important;
		}
	}
	#spreadsheet-toolbar {
		bottom: 0;
	}

	.spreadsheet-tabs-container {
		bottom: 0;
	}

	#spreadsheet-row-column-frame.readonly {
		top: 37px !important;
	}
	#document-container.spreadsheet-document.readonly {
		top: 57px !important;
	}
	#spreadsheet-row-column-frame {
		top: 73px;
		bottom: 36px;
	}

	.spreadsheet-tab{
		background-color: #eaf5ff;
		color: #4c4c4c;
		border-radius: 3px;
		border-color: #fbfbfb;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-top: 4px;
	}

	.spreadsheet-tab-selected{
		color: #0b87e7 !important;
		border-color: #0b87e7;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin-top: 2px;
		padding-top: 5px;
		padding-bottom: 3px;
	}

	.spreadsheet-tabs-container {
		left: 24px;
		overflow-x: scroll;
		scrollbar-width: none; /*css draft (firefox only)*/
		-ms-scrollbar: none; /*ie*/
	}

	.spreadsheet-tabs-container, #spreadsheet-toolbar{
		background-color: #fff;
		border-top: 1px solid #eceff4;
	}
	#spreadsheet-toolbar{
		background-color: #fbfbfb;
		border-top: 1px solid #eceff4;
		height: 33px;
	}
	#spreadsheet-toolbar .w2ui-tb-image{
		padding-top: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	#toolbar-down table.w2ui-button.over {
	    border: 1px solid #eee;
	    background-color: #eeeeee;
	    border-radius: 0px;
	}
}
