@-moz-document url-prefix() {
	#formulabar #formulaInput, #formulabar #addressInput{
		border-radius: 0px;
		border: 1px solid #bbbbbb !important;
	}
}
#tb_actionbar_item_redo.disabled, #tb_actionbar_item_undo.disabled, #tb_actionbar_item_mobile_wizard.disabled, #tb_actionbar_item_insertion_mobile_wizard.disabled {
	display: none;
}
#toolbar-wrapper.mobile{
	border-top: none;
	z-index: auto !important;
}
