@-moz-document url-prefix() {
	#formulabar #formulaInput, #formulabar #addressInput{
		border-radius: 0px;
		border: 1px solid #bbbbbb !important;
	}
	#toolbar-up{
		top: -1px;
	}
}

#toolbar-wrapper.mobile{
	border-top: none;
	z-index: auto;
}

.w2ui-icon.fold{ background: url('images/fold.svg') no-repeat center center / 19px !important; opacity: 0.8; filter: alpha(opacity=80);}