@-moz-document url-prefix() {
	#formulabar #formulaInput, #formulabar #addressInput{
		border-radius: 0px;
		border:1px solid #bbbbbb !important;
	}
	#toolbar-wrapper{
		border-top: none;
	}
	#toolbar-up{
		top:-1px;
	}
}
