@-moz-document url-prefix() {
	#formulabar #formulaInput, #formulabar #addressInput{
		border-radius: 0px;
		border:1px solid #bbbbbb !important;
	}
	#toolbar-wrapper{
		border-top: none;
	}
	#toolbar-up{
		top:-1px;
	}
}
#toolbar-down table.w2ui-button .w2ui-tb-image {
	margin: 5px 9px 3px 9px!important;
}
.w2ui-toolbar .w2ui-break{
	background-image: none;
	background-color: #dae6f3;
}
