/* Infobar */
.vex-theme-bottom-right-corner .vex-dialog-message {
	font-size: 1em;
}
/* Place above statusbar */
.vex.vex-theme-bottom-right-corner .vex-content {
	bottom: 40px !important;
	right: 10px !important;
}

/* Vex dialogs */
.vex-open .vex-overlay {
	/* TODO: remove specific z-index from our codebase
	so that the following line can also be removed */
	position: relative;
	z-index: 2000;
}
/* dialog shown when user is idle */
.vex-open .loleaflet-user-idle {
	background: rgba(0, 0, 0, 0)!important;
	font-size: xx-large!important;
	color: #fff!important;
	text-align: center!important;
}
.vex-open .loleaflet-user-idle .vex-dialog-buttons {
	display: none!important;
}
.vex.vex-theme-plain{
	position: relative;
	z-index: 2001 !important;
}

.vex.vex-theme-plain .vex-content{
	border: 1px solid #a4a4a4;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input select, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"]{
	padding: 0 !important
}

/*mobile*/
@media (max-width: 767px), (max-device-height: 767px) {
	.vex-dialog-input > textarea.loleaflet-annotation-textarea {
		height: 198px;
		border: 4px solid #f0f0f0 !important;
		box-shadow: 0 0 1px 1px #dfdfdf;
	}
	.vex-dialog-input > textarea.loleaflet-annotation-textarea:focus {
		height: 198px;
		border: 4px solid #f0f0f0 !important;
		box-shadow: 0 0 1px 1px #0b87e7 !important;
	}
	.vex-dialog-message {
		text-align: center;
		font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif !important;
		font-size: 1em !important;
		font-weight: 600 !important;
	}
	.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"] {
		border-radius: 4px !important;
		background-color: #fff !important;
		border: 1px solid #999999 !important;
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: fill-available;
	}
	.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"]:focus {
		box-shadow: none !important;
		border: 2px solid #0b87e7 !important;
	}
	.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"]:focus{
		color: #0b87e7 !important;
	}
	.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"]:focus input{
		color: #000 !important;
	}
	.vex-dialog-input {
		font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif !important;
		font-size: 0.8em;
	}
	.vex.vex-theme-plain .vex-content {
		height: 100% !important;
		max-width: 100% !important;
		width: auto !important;
		border: none;
		box-shadow: none;
		border-radius: none;
	}
	.vex.vex-theme-plain {
		padding: 0px !important;
		position: relative !important;
		z-index: 2001 !important;
		top: -42px !important;
	}
	.vex-open .vex-overlay {
		z-index: 2000;
		min-height: 100%;
		position: absolute;
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: fill-available;
		top: 0;
		background-color: white;
	}
	.vex.vex-theme-plain input {
		font-size: 1.1em !important;
	}
	button.vex-dialog-button-primary.vex-dialog-button.vex-first {
		border: 1px solid #0b87e7 !important;
		border-radius: 4px !important;
		background-color: #fff !important;
		color: #0b87e7 !important;
	}
	button.vex-dialog-button-secondary.vex-dialog-button.vex-last {
		border-radius: 4px;
		background-color: #fff !important;
		border: 1px solid #aaa !important;
	}
}
