@keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Infobar */
.vex-theme-bottom-right-corner .vex-dialog-message {
	font-size: 1em;
}
/* Place above statusbar */
.vex.vex-theme-bottom-right-corner .vex-content {
	bottom: 40px !important;
	right: 10px !important;
}

/* Vex dialogs */
.vex-open .vex-overlay {
	/* TODO: remove specific z-index from our codebase
	so that the following line can also be removed */
	z-index: 2000;
	background-color:#1c5fa814;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0px;
}
/* dialog shown when user is idle */
.vex-open .loleaflet-user-idle {
	background: #ffffffe0 !important;
	font-size: xx-large !important;
	color: #7a8592 !important;
	text-align: center !important;
}
.vex-open .loleaflet-user-idle .vex-dialog-buttons {
	display: none !important;
}

.vex.vex-theme-plain, .vex.vex-theme-bottom-right-corner{
	z-index: 2001 !important;
}

.vex.vex-theme-plain .vex-content{
	border: 1px solid #a4a4a4;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.vex-closing {
	-webkit-animation: vex-fadeout .25s forwards;
	animation: vex-fadeout .25s forwards;
}
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input select, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"]{
	width: 95% !important;
}

.vex {
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
