# Editor backup files etc
*~
\#*

# Autofoo
.deps
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
loolwsd.spec
loolwsd.xml
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
debian/loolwsd.postinst

# Test stuff
systemplate
test-driver
jails
test/data/hello-world.odt

*.o
*.exe
cscope*
*.orig
loolwsd.log
*.log.*.gz

connect
lokitclient
loolwsd
loolforkit
loolmount
loolmap
looltool
loolstress
loolconfig
loolforkit-nocaps
loadtest
unittest
loolwsd_fuzzer
loolnb
clientnb

# make tags
TAGS
test/TAGS
