# Editor backup files etc
*~
\#*

# Autofoo
.deps
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
loolwsd.spec
loolwsd.xml
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
debian/loolwsd.postinst
common/support-public-key.hpp

# Test stuff
systemplate
test-driver
jails
cache
test/data/hello-world.odt
test/data/hello-world.ods
test/data/hello-world.odp

*.o
*.exe
cscope*
*.orig
loolwsd.log
*.log.*.gz
*.lo

# loleaflet
loleaflet/dist
loleaflet/npm-shrinkwrap.json

connect
lokitclient
loolwsd
loolforkit
loolmount
loolmap
loolconvert
loolsocketdump
loolstress
loolconfig
loolforkit-nocaps
loadtest
unittest
loolwsd_fuzzer
clientnb

# make tags
tags
test/tags
TAGS
test/TAGS

docker/instdir
docker/builddir

Mobile/Mobile/Info.plist

# symlinks created by configure for the iOS app Xcode project
lobuilddir-symlink
pocoinclude-symlink
pocolib-symlink
ICU.dat
Mobile/Mobile/Assets.xcassets/AppIcon.appiconset
