# Editor backup files etc
*~
\#*

# Autofoo
.deps
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
**/.clangd
**/.cache
Makefile
Makefile.in
coolwsd.spec
coolwsd.xml
aclocal.m4
autom4te.cache
config.h
config_unused.h
config_unused.h.in
config_version.h
ios/config.h
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
stamp-h2
stamp-h3
m4
debian/coolwsd.postinst
common/support-public-key.hpp
compile_commands.json
**/gdb.txt

# Test stuff
systemplate
test-driver
jails
quarantine
cache
test/data/hello-world.odt
test/data/hello-world.ods
test/data/hello-world.odp
test/data/hello-world.odg
test/fakesockettest
test/unithttplib
jsstress
perftest/messageperftest
perftest/cycleperftest
perftest/timeperftest

*.o
*.exe
cscope*
*.orig
coolwsd.log
*.log.*.gz
.log
*.lo
*.mo

gcov/*
*.gcno
*.gcda
*.gcov

# browser
browser/debug
browser/release
browser/npm-shrinkwrap.json
browser/jsconfig.json
browser/admin/jsconfig.json
browser/dist
browser/compilets
browser/typescript_js

connect
lokitclient
coolwsd
loolwsd
coolforkit
coolmount
coolmap
coolconvert
coolsocketdump
coolstress
coolconfig
loolconfig
coolforkit-nocaps
loadtest
unittest
clientnb
libsimd.a
coolwsd-inproc
coolbench

# Fuzzer
*_fuzzer
fuzz*.log
slow-unit-*
crash-*
leak-*
timeout-*

# make tags
tags
test/tags
TAGS
test/TAGS

docker/from-source/instdir
docker/from-source/builddir

ios/Mobile/Info.plist
ios/Mobile/Fonts
ios/Mobile/Branding
ios/Mobile/Resources/Settings.bundle/Root.plist
ios/Mobile/coolkitconfig.xcu

# symlinks created by configure for the iOS app Xcode project
lobuilddir-symlink
pocoinclude-symlink
pocolib-symlink
zstdinclude-symlink
zstdlib-symlink
ICU.dat
ios/Mobile/Assets.xcassets/AppIcon.appiconset

# iOS app build number
BUNDLE-VERSION

# android stuff
/android/lib/src/main/assets/dist
/android/lib/src/main/assets/hello-world.od*
/android/lib/src/main/assets/templates/untitled.od*
/android/lib/src/main/cpp/CMakeLists.txt

# gtk fake mobile app
gtk/mobile

# backup and temporary editor files: the only convenience rules allowed here.
*~
.*sw?
\#*
.\#*
*.kdev4
.kdev_include_paths
.buckd
.directory
.cproject
.project
.settings
.eclipsesettingfile
eclipsesettingfile.xml
.clangd
.cache
*.code-workspace
Makecache

# autoconf stuff
autogen.input
