Aditya Dewan <iit2015097@iiita.ac.in>
Aditya Dewan <aditya.dewan@collabora.co.uk>
Andreas Kainz <kainz.a@gmail.com>
Andreas Kainz <andreas_k@abwesend.de>
Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org>
Bayram Çiçek <mail@bayramcicek.com.tr>
Buğra Kurt <bugrakurt26@gmail.com>
Dilaver Demirel <3415355+dilaverdemirel@users.noreply.github.com>
Dilaver Demirel <dilaverdemirel@gmail.com>
Emre Öztürk <ozturkemry@gmail.com>
Ezinne Nnamani <nnamani.ezinne@collabora.com>
Ezinne Nnamani <nnamani.ezinne@collabora.co.uk>
Faruk Uzun <farukuzun@collabora.com>
George Kitsoukakis <norhorn@gmail.com>
Gökay Şatır <gokay.satir@collabora.com>
Gökay Şatır <gokaysatir@collabora.com>
Gökay Şatır <gokaysatir@gmail.com>
Jan Iversen <jani@documentfoundation.org>
Kaishu Sahu <kaishusahu101@gmail.com>
Mert Tümer <mert.tumer@collabora.com>
Nick Wingate <nicholas.wingate03@gmail.com>
Quentin Pagès <quentinantonin@free.fr>
Pedro Pinto Silva <pedro.silva@collabora.com>
Rashesh Padia <rashesh.padia@collabora.com>
Rashesh Padia <rasheshpadia419@gmail.com>
Sebastiaan Veld <sebastiaan.veld@gmail.com>
Stavros Kois <s.kois@outlook.com>
Tamás Zolnai <tamas.zolnai@collabora.com>
Tamás Zolnai <zolnaitamas2000@gmail.com>
Thais Vieira <thais.vieira@collabora.com>
Umut Bayramoglu <umut265@gmail.com>
