# Editor backup files etc
*~
\#*

# Autofoo
.deps
Makefile
Makefile.in
loolwsd.spec
loolwsd.xml
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4

# Test stuff
systemplate
test-driver
jails
test/data/hello-world.odt

*.o
*.exe
cscope*
.*
*.orig

connect
lokitclient
loadtest
loolwsd
loolforkit
loolmount
loolmap
looltool
loolforkit-nocaps
