# Editor backup files etc
*~
\#*

# Autofoo
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
systemplate
test-driver
jails
loolwsd.spec

*.o
*.exe
cscope*
.*
*.orig

connect
lokitclient
loadtest
loolwsd
loolforkit
loolmount
loolmap
loolmount
