[Unit]
Description=LibreOffice On-Line WebSocket Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/loolwsd
ExecStart=/usr/bin/loolwsd --systemplate=/opt/lool/systemplate --lotemplate=/opt/libreofficedev5.1 --childroot=/opt/lool/child-roots --numprespawns=$LOOLWSD_NUMPRESPAWNS
User=lool
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
