{{- if .Values.nginxDeny.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "collabora-online.fullname" . }}-nginxdeny
  labels:
    {{- include "collabora-online.labels" . | nindent 4 }}
    type: nginxdeny
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.nginxDeny.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "collabora-online.selectorLabels" . | nindent 4 }}
    type: nginxdeny
{{- end }}
