/* Hiding scroll bar */
#user-welcome * {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

#user-welcome *::-webkit-scrollbar {
	width: 0;
}

#user-welcome *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

.slides h1 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 4px;
}
.slides h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
}
.slides p,
#view-supported-versions {
	font-size: 14px;
	font-weight: normal;
}
.slides fig {
	height: 232px;
	display: block;
}
#slide-1 fig {
	background-image: linear-gradient(to top,#e6e6e6c4,#e6e6e64f 3%,white 33%);
	border-radius: 0 0 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#slide-1 #fig-slide1-l {
	background: url('images/welcome/slide1-left.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #00000040;
	border-radius: 100%;
}
#slide-1 #fig-slide1-c {
	background: url('images/welcome/slide1-center.png')  no-repeat center;
	width: 96px;
	height: 96px;
	box-shadow: 0 0 12px 1px #00000040;
	border-radius: 100%;
	margin: 42px 32px 0;
}
#slide-1 #fig-slide1-r {
	background: url('images/welcome/slide1-right.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #0000005e;
	border-radius: 100%;
}
#slide-2 fig {
	background: url('images/welcome/slide2.png') no-repeat center;
}
#slide-3 fig {
	background: url('images/welcome/slide3.png') no-repeat center;
	box-shadow: 0 0 8px 1px #e5e5e5;
	width: 342px;
	margin: 12px auto;
	border-radius: 8px;
}

#user-welcome--buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	margin-right: 72px
}
