# We only directly edit toolbar.js in dist/
**/js/select2.js
**/js/vex.combined.js
**/js/sanitize-url.js
**/js/l10n.js
**/js/w2ui-1.5.rc1.js
**/src/unocommands.js
**/src/viamapi-client.js
#
# This is way too ugly for eslint...
**/js/jquery.mCustomScrollbar.js
