//Microsoft Visual C++ generated resource script.
//
#include "Resource.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 9, 1

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_CODA ICON "CODA.ico"

#endif
