<?xml version="1.0" encoding="UTF-8"?> <!-- -*- Mode: nXML; tab-width: 8; indent-tabs-mode: nil; nxml-child-indent:2; fill-column: 100 -*- -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>teamID</key>
    <string>J4FQ687VJK</string>
  </dict>
</plist>
