Source: loolwsd
Section: web
Priority: optional
Maintainer: Andras Timar <andras.timar@collabora.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.3), libcap-dev, libcap2-bin, libpcre3-dev, libpng-dev, linux-libc-dev, nodejs, python3-polib, python3-lxml, fontconfig, libpam-dev, libcppunit-dev, pkg-config, devscripts, m4
Standards-Version: 3.9.7

Package: loolwsd
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser, expat, fontconfig, cpio, libcap2-bin, openssh-client, systemd,
 collaboraofficebasis2021-calc,
 collaboraofficebasis2021-core,
 collaboraofficebasis2021-graphicfilter,
 collaboraofficebasis2021-images,
 collaboraofficebasis2021-impress,
 collaboraofficebasis2021-ooofonts,
 collaboraofficebasis2021-writer,
 collaboraoffice2021,
 collaboraoffice2021-ure,
 collaboraofficebasis2021-en-us,
 collaboraofficebasis2021-draw,
 collaboraofficebasis2021-extension-pdf-import,
 collaboraofficebasis2021-ooolinguistic
Description: Collabora Online WebSocket Daemon
 LOOLWSD is a daemon that talks to web browser clients and provides LibreOffice
 services.
