Source: loolwsd
Section: web
Priority: optional
Maintainer: Tor Lillqvist <tml@collabora.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.3), libcap-dev, libcap2-bin, libpcre3-dev, libpng-dev, libpoco-dev (>= 1.7.5)
Standards-Version: 3.9.7

Package: loolwsd
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, fontconfig, libsm6, libssl1.0.0, libodbc1, libxinerama1, libcairo2, libgl1-mesa-glx, libcups2, libdbus-glib-1-2, cpio, collaboraofficebasis5.3-calc (>= 5.3.10.8), collaboraofficebasis5.3-core (>= 5.3.10.8), collaboraofficebasis5.3-graphicfilter (>= 5.3.10.8), collaboraofficebasis5.3-images (>= 5.3.10.8), collaboraofficebasis5.3-impress (>= 5.3.10.8), collaboraofficebasis5.3-ooofonts (>= 5.3.10.8), collaboraofficebasis5.3-writer (>= 5.3.10.8), collaboraoffice5.3 (>= 5.3.10.8), collaboraoffice5.3-ure (>= 5.3.10.8), collaboraofficebasis5.3-en-us (>= 5.3.10.8), collaboraofficebasis5.3-en-us-calc (>= 5.3.10.8), collaboraofficebasis5.3-en-us-res (>= 5.3.10.8), collaboraofficebasis5.3-noto-fonts (>= 5.3.10.8), collaboraofficebasis5.3-draw (>= 5.3.10.8), collaboraofficebasis5.3-extension-pdf-import (>= 5.3.10.8)
Description: LibreOffice Online WebSocket Daemon
 LOOLWSD is a daemon that talks to web browser clients and provides LibreOffice
 services.
