#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

CONFFLAGS = --prefix=/usr --localstatedir=/var --sysconfdir=/etc --with-lokit-path=`pwd`/bundled/include $(CONFIG_OPTIONS)

# Avoid setcap when doing "make", when building for packaging
# the setcap is done at installation time
export BUILDING_FROM_RPMBUILD=yes

# main packaging script based on dh7 syntax
%:
	dh $@ --with=systemd

override_dh_auto_configure:
	./configure $(CONFFLAGS)

override_dh_auto_test:
	# do not test

override_dh_installinit:
	# no init.d scripts here, assume systemd

override_dh_gencontrol:
	# put package names of LibreOffice here
	# dh_gencontrol -- -Vlo:Depends=""
