/* For btns hover status see device-desktop.css */

.jsdialog *[disabled] {
	color: var(--color-text-lighter);
	border: 1px solid var(--color-border-lighter);
	background: var(--color-background-lighter);
}

/*limit icon to button height*/
button.jsdialog img {
	max-height: 100%;
}

.annotation-btns-container {
	display: flex;
	flex-direction: row;
	justify-content: end;
	flex-wrap: wrap;
}

.button-secondary,
button:not(.ui-tab):not(.ui-corner-all):not(.button-primary):not(.unobutton) {
	box-sizing: border-box;
	height: 32px;
	line-height: 0em;
	color: var(--color-main-text);
	font-size: var(--default-font-size);
	min-width: 62px;
	background-color: var(--color-background-dark);
	border: 1px solid var(--color-btn-border);
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
	margin: 5px;
	vertical-align: middle;
}

.button-primary {
	height: 32px;
	line-height: 0em;
	color: var(--color-primary-text);
	min-width: 62px;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary-dark);
	border-radius: var(--border-radius);
	margin: 5px;
	vertical-align: middle;
}

.jsdialog.ui-button-box.end {
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
}

.jsdialog.ui-button-box button[disabled='disabled'] {
	color: var(--color-text-lighter) !important;
	background-color: var(--color-background-lighter) !important;
	border-color: var(--color-border-lighter) !important;
}

.ui-button-box .jsdialog.ui-pushbutton:not(.hidden) {
	display: initial !important;
}

.ui-pushbutton[disabled] {
	color: var(--color-text-lighter) !important;
	background-color: var(--color-background-lighter) !important;
	border: 1px solid var(--color-border-lighter) !important;
}

.ui-pushbutton[disabled]:hover {
	cursor: not-allowed !important;
	background: var(--color-background-darker) !important;
}

/* button box */

/* - Add fallback for browsers without support
for float logical values */
html:not([dir='rtl']) .jsdialog.ui-button-box-right,
html[dir='rtl'] .jsdialog.ui-button-box-left {
	float: right;
}
html[dir='rtl'] .jsdialog.ui-button-box-right,
html:not([dir='rtl']) .jsdialog.ui-button-box-left {
	float: left;
}
/* - */

.jsdialog.ui-button-box-right {
	display: flex;
	float: inline-end;
	margin-inline-end: -5px;
}

.jsdialog.ui-button-box-left {
	float: inline-start;
	margin-inline-start: -5px;
}
