:root {
	/*LibreOffice Colors: https://wiki.documentfoundation.org/Marketing/Branding#Colors
	----------------------------------[to do]*/
	--blue1-txt-primary-color: 3, 105, 163;
	--green0-txt-primary-color: 16, 104, 2; /*green1 lacks contrast against white*/
	--orange1-txt-primary-color: 163, 62, 3;
	--yellow0-txt-primary-color: 135, 105, 0; /*yellow1 lacks contrast against white*/

	--gray-light-txt--color: #696969;
	--gray-light-bg-color: #EFEFEF;
	--gray-lighter-bg-color: #F7F7F7;
	--gray-color: #b6b6b6;
	--white-bg-color: #fff;
	--color-text-accent: #333333;

	--color-main-text: #333333;
	--color-text-dark: #333333;  /* select */
	--color-text-darker: #000;  /* hover */
	--color-text-lighter: #696969;

	--color-main-background: #fff;
	--color-background-dark: #F7F7F7;  /* select */
	--color-background-darker: #e4e4e4;  /* hover */
	--color-background-lighter: #f8f9fa;

	--color-primary: #1C99E0;
	--color-primary-text: #fff;
	--color-primary-dark: #0369A3;
	--color-primary-darker: #023F62;
	--color-primary-lighter: #63BBEE;

	--color-border: #b6b6b6;
	--color-border-dark: #959595; /* select */
	--color-border-darker: #696969;  /* hover */
	--color-border-lighter: #f1f1f1;

	--border-radius: 4px;
}
