:root {
	/*LibreOffice Colors: https://wiki.documentfoundation.org/Marketing/Branding#Colors
	----------------------------------[to do]*/
	--blue1-txt-primary-color: 3, 105, 163;
	--green0-txt-primary-color: 16, 104, 2; /*green1 lacks contrast against white*/
	--orange1-txt-primary-color: 163, 62, 3;
	--yellow0-txt-primary-color: 135, 105, 0; /*yellow1 lacks contrast against white*/

	--gray-light-txt--color: #696969;
	--gray-light-bg-color: #EFEFEF;
	--gray-lighter-bg-color: #F7F7F7;
	--gray-color: #b6b6b6;
	--white-bg-color: #fff;
}
