[data-theme='dark'] {
	/*LibreOffice Colors: https://wiki.documentfoundation.org/Marketing/Branding#Colors
	----------------------------------[to do]*/
	--blue1-txt-primary-color: 3, 105, 163;
	--green0-txt-primary-color: 16, 104, 2; /*green1 lacks contrast against white*/
	--orange1-txt-primary-color: 163, 62, 3;
	--yellow0-txt-primary-color: 135, 105, 0; /*yellow1 lacks contrast against white*/

	--color-main-text: #e8e8e8;
	--color-text-dark: #e8e8e8;  /* select */
	--color-text-darker: #c0bfbc;  /* hover */
	--color-text-lighter: #fff; /* secondard text, disabled */

	--color-canvas: #121212;
	--color-main-background: #121212;
	--color-background-dark: #1E1E1E;  /* select */
	--color-background-darker: #000;  /* todo: apply to pressed (active), li:hover(top menu on classic mode)*/
	--color-background-lighter: #262626; /* hover, toolbar, dialog, disabled */
	--color-overlay: #1c5fa814;

	--color-primary: #0b87e7; /* border-color */
	--color-primary-text: #fff; /* text color when primary-lighter is background */
	--color-primary-dark: #0063b1;
	--color-primary-darker: #004b86;
	--color-primary-lighter: #83beec; /* background-color */

	--color-border: #121212;
	--color-border-dark: #1E1E1E; /* select */
	--color-border-darker: #000;  /* hover */
	--color-border-lighter: #303030; /* disabled */

	--color-btn-border: #b6b6b6;
	--color-btn-border-dis: #c0bfbc;

	--color-error: #e9322d;
	--color-warning: #eca700;
	--color-success: #46ba61;

	--color-cursor-blink-background: #fff;

	--color-box-shadow: rgba(0, 0, 0, 0.5);
}
