/* CSS specific for desktop browsers. */

/* Hide text droplets if accurate pointing device such as a mouse is detected */
@media (pointer: fine) {
	.text-selection-handle-start,
	.text-selection-handle-end {
		display: none;
	}
}

#coolwsd-version span:before,
#lokit-version > span:before {
	content: ' (';
	white-space: pre;
}
#coolwsd-version span:after,
#lokit-version > span:after {
	content: ')';
}

/* btns hover status
   Rules not intended for touch devices */

.button-secondary:hover,
button:not(.ui-corner-all):not(.button-primary):not(.unobutton):not(.form-field-button):not(.notebookbar.ui-tab):hover {
	cursor: pointer;
	color: var(--color-text-darker) !important;
	background-color: var(--color-background-lighter) !important;
	border: 1px solid var(--color-border-darker);
}

.button-primary:hover {
	background-color: var(--color-primary-lighter);
	color: var(--color-primary-dark);
	cursor: pointer;
}
