.iframe-dialog-wrap {
	position: absolute;
	z-index: 1106;
	left: 50%;
	top: 50%;
}

.iframe-dialog-wrap:focus {
	outline: none;
}

.iframe-dialog-content {
	margin-left: -50%;
	margin-top: -50%;
}

.iframe-dialog-modal {
	height: 424px;
	width: 448px;
	border: 1px solid var(--color-border);
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius);
	background: var(--color-background-lighter);
}
