.presentation-doctype #map, .drawing-doctype #map{
	border-collapse: separate; /*To use box-shadow in Internet Explorer 9 or later, you must set border-collapse */
	box-shadow: rgb(223, 223, 223) 0px 0px inset, var(--color-border) 1px 0px 0px inset;
}

#slide-sorter {
	background: transparent !important;
}
#presentation-controls-wrapper {
	background: var(--color-background-dark) !important;
	border-top: 1px solid var(--color-border) !important;
}
