#slide-sorter {
	background: transparent;
}
#presentation-controls-wrapper {
	background: var(--color-background-lighter);
}
.slideshow-vertical-center {
	margin: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.slideshow-horizontal-center {
	margin: 0;
	position: absolute;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
