/* sizing */

#sidebar-dock-wrapper {
	display: none;
	background: var(--color-main-background);
	position: relative;
	border-inline-start: 1px solid var(--color-border);
	overflow: hidden;
	z-index: 990;
}
#sidebar-panel {
	padding: 0px;
	width: 330px;
	margin-inline: 8px;
	position: relative;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1200;
	scrollbar-width: auto;
	scrollbar-color: var(--color-border) transparent;
}

.sidebar ~ .cell:last-child,
.sidebar > table > tr > td:nth-child(2),
.sidebar #FIELD_TRANSPARENCY {
	float: inline-end;
}

.sidebar.ui-expander {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar.ui-expander-label {
	font-size: var(--header-font-size);
	line-height: var(--header-height);
	padding-inline: 4px;
}
.ui-expander.jsdialog.sidebar .ui-expander-icon-right img {
	display: block;
	width: 10px;
}

#fontheight {
	display: flex;
	justify-content: flex-end;
}

nav.spreadsheet-color-indicator ~ #sidebar-dock-wrapper {
	bottom: 72px;
}

#writedirection {
	justify-content: flex-end;
}

/* Scrollbar */

#sidebar-panel::-webkit-scrollbar {
	width: 8px;
}

#sidebar-panel::-webkit-scrollbar-thumb {
	background-color: var(--color-border);
}

/* Labels */

.sidebar * {
	font-family: var(--jquery-ui-font);
	text-transform: none !important;
	font-size: var(--default-font-size);
	line-height: var(--default-height);
	color: var(--color-main-text);
}

#fliplabel,
#orientationcontrol,
#rotation,
#misc_label {
	visibility: hidden;
	height: 0;
}

/* widgets */

.sidebar .ui-listbox {
	width: 100%;
	min-width: 124px;
	max-width: 186px;
	height: 28px;
}

.sidebar .spinfieldcontainer input {
	width: 124px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
	height: 28px;
	position: relative;
	margin-inline-start: 8px;
	padding-inline-start: 8px;
	color: var(--color-text-dark);
	background-color: var(--color-background-dark);
}

td.jsdialog .jsdialog.cell.sidebar {
	padding: 2px 0px;
}

.sidebar.ui-drawing-area {
	width: 100%;
}

.sidebar #applystyle {
	width: 186px;
}

.sidebar .menubutton {
	min-width: 126px;
	font-size: var(--default-font-size);
}

.sidebar #ChartElementsPanel #grid1,
.sidebar #subtype {
	width: calc(330px - 8px);
}

/* button */

.sidebar .ui-content .unobutton {
	margin: 0;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.sidebar.unotoolbutton {
	border: 1px solid transparent;
	margin-right: 5px;
}

.jsdialog.toolbox div:last-child {
	margin-right: 0px;
}

.sidebar #clearFormatting div img {
	width: 24px !important;
	height: 24px !important;
}

/* icons */

/* non selected */
#clearFormatting,
.hasnotebookbar .ui-content.unotoolbutton.has-label,
.hasnotebookbar .ui-content.unotoolbutton.inline,
.hasnotebookbar .ui-content.unotoolbutton:not(.has-label):not(.inline),
.sidebar.unotoolbutton {
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color-main-text);
	border-radius: var(--border-radius);
}
/* selected */
.hasnotebookbar .ui-content.unotoolbutton.selected.has-label,
.hasnotebookbar .ui-content.unotoolbutton.selected.inline,
.hasnotebookbar .ui-content.unotoolbutton.selected:not(.has-label):not(.inline),
.sidebar.unotoolbutton.selected {
	background-color: var(--color-background-dark);
	border: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
	border-radius: var(--border-radius);
}
/* selected hover */
.hasnotebookbar .ui-content.unotoolbutton.selected:hover,
.unotoolbutton.notebookbar:hover,
.hasnotebookbar .ui-content.unotoolbutton.selected:not(.has-label):not(.inline):hover,
#clearFormatting:hover,
#FormatPaintbrush:hover,
.sidebar.unotoolbutton:hover,
.sidebar.unotoolbutton.selected:hover,
.sidebar #resetattr:hover,
.sidebar #FormatPaintbrush:hover,
#table-textorientbox.sidebar .jsdialog .radiobutton:hover {
	background-color: var(--color-background-darker) !important;
	border: 1px solid var(--color-border-darker);
	color: var(--color-text-darker);
	border-radius: var(--border-radius);
}
