/* general */

.sidebar * {
	font-family: var(--jquery-ui-font);
	text-transform: none !important;
	color: var(--color-main-text);
}

div.ui-grid-cell.sidebar.jsdialog {
	row-gap: 5px;
}

img.sidebar.ui-image {
	/* Images that are not buttons (e.g. spinfield)
	   16px + 6px + 6px = 28px, same height as grid cell */
	padding: 6px;
}

/* Impress -> Master Slides images should fit in the visible width */
img.sidebar.ui-drawing-area {
	width: 300px;
}

.sidebar.ui-grid {
	row-gap: 8px;
}

.sidebar .ui-content .unobutton {
	box-sizing: border-box;
	margin: 0;
}

#document-container:not(.mobile) + #sidebar-dock-wrapper {
	padding: 0;
	box-sizing: border-box;
}
[data-userinterfacemode='classic'] #document-container:not(.mobile) + #sidebar-dock-wrapper,
[data-docType='spreadsheet'] #document-container:not(.mobile) + #sidebar-dock-wrapper {
	border-inline-start: 1px solid var(--color-border);
}
.sidebar .menu-entry-icon {
	width: var(--btn-size);
	height: var(--btn-size);
}


/* expander section header */

.sidebar.ui-expander {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar.ui-expander-label {
	color: var(--color-main-text);
	font-size: var(--header-font-size);
	line-height: var(--header-height);
	padding-inline: 8px;
}

.ui-expander-icon-right .sidebar.unotoolbutton {
	margin: 0px !important;
}

.ui-expander.jsdialog.sidebar .ui-expander-icon-right,
.ui-expander.jsdialog.sidebar .ui-expander-icon-right * {
	display: block;
	width: 10px;
	height: 10px;
	margin-inline-end: 10px;
	padding: 0;
}

.ui-expander.jsdialog.sidebar .ui-expander-icon-right:hover img {
	filter: none;
}

#softedgeframe .sidebar.ui-expander-content,
#glowframe .sidebar.ui-expander-content {
	width: 100% !important; /* frame inside frame */
}

#AlignmentPropertyPanel.sidebar.ui-grid #box3,
#ParaPropertyPanel.sidebar.ui-grid #box1.sidebar.ui-grid-cell,
#NumberFormatPropertyPanel.sidebar.ui-grid #grid1 {
	justify-content: space-between !important;
	row-gap: 8px;
	grid-auto-flow: revert !important;
	grid-template-columns: repeat(2, auto);
}

/* section content */

.sidebar.ui-expander-content {
	padding-inline: 10px;
	width: 300px;
	line-height: var(--default-height);
}

.sidebar.ui-grid.ui-grid-cell > div:not(.ui-treeview) {
	justify-content: start;
	display: flex;
}

div.sidebar.ui-grid-cell.checkbutton,
div.sidebar.ui-grid .checkbutton.sidebar,
#ShadowPropertyPanel #SHOW_SHADOW,
#NumberFormatPropertyPanel.sidebar.ui-grid div.sidebar.ui-grid-cell:nth-child(2n+1),
#AlignmentPropertyPanel #indentbuttons, #SidebarTextPanel.sidebar.ui-grid div.sidebar.ui-grid-cell:nth-child(2n+1),
#ParaPropertyPanel.sidebar.ui-grid div.sidebar.ui-grid-cell:nth-child(2n) {
	justify-content: start;
}

/* widgets */

.sidebar.toolbox {
	align-items: center;
}

.sidebar.spinfieldcontainer input {
	color: var(--color-text-dark);
	background-color: var(--color-background-dark);
}

.sidebar.ui-grid.ui-grid-cell .menubutton {
	justify-content: space-between;
	justify-self: end;
	padding: 0;
	margin-right: 1px;
}

/* widget width */

.sidebar.ui-pushbutton,
.sidebar.spinfield,
.sidebar.ui-listbox,
.sidebar.menubutton:not(.has-dropdown) {
	width: 121px;
}

#gradientstyle > .sidebar.ui-listbox,
#gradangle > .sidebar.spinfield,
#fontsizecombobox .sidebar.ui-listbox,
#TableEditPanel .sidebar.spinfieldcontainer input,
#ParaPropertyPanel .sidebar.spinfieldcontainer input {
	min-width: 87px;
	width: 87px;
}

#fontnamecombobox > .sidebar.jsdialog.ui-listbox,
#applystyle > .sidebar.jsdialog.ui-listbox {
	width: 198px;
}

/* fixes */

.sidebar.ui-grid-cell .sidebar.ui-pushbutton {
	margin: 0;
}
.sidebar.unotoolbutton {
	border: 1px solid transparent;
	margin-right: 3px;
}
.sidebar.jsdialog.checkbutton {
	font-size: var(--default-font-size);
	align-items: center;
}

.sidebar.jsdialog.checkbutton label {
	padding: 0;
	display: flex;
	line-height: 1;
	flex-direction: column;
	justify-content: center;
}

.sidebar.menubutton.has-colorpicker:hover span {
	box-shadow: revert;
}

.sidebar #FrameLineColor-button img {
	margin-bottom: -4px;
}

/* writer */

#ParaPropertyPanel.sidebar #backgroundcolor,
#PosSizePropertyPanel.sidebar #selectrotationtype {
	justify-content: end;
}
/* Fix to allow ratio to span across columns
 so Seitenverhältnis beibehalten doesn't get cropped*/
#PosSizePropertyPanel.sidebar #ratio {
	grid-column: 1 / 3;
}
#PosSizePropertyPanel.sidebar #ratio input[type='checkbox'] {
	margin-inline-start: 0;
}

#ParaPropertyPanel.sidebar #indentfieldbox,
#ParaPropertyPanel.sidebar #box3 {
	display: grid;
	justify-content: start;
	row-gap: 4px;
}

#ParaPropertyPanel .sidebar.ui-grid-cell {
	/* Same as sidebar  button margins */
	column-gap: 5px;
}

/* Separators */
.jsdialog.sidebar.ui-separator {
	/* Hide separators for now.
	 TODO: re-test and possibily enable them with different style*/
	display: none;
}

button#button2.ui-pushbutton.jsdialog.sidebar {
	width: 151px;
	padding: 4px;
	position: relative;
	left: -10px;
}

#TableEditPanel.sidebar.ui-grid #delete_label {
	width: 118px;
}

/* calc */

/* cell appearance use one row */
#CellAppearancePropertyPanel.sidebar div {
	grid-template-columns: repeat(5, auto) !important;
}

#table-textorientbox.sidebar .jsdialog .radiobutton {
	border: 1px solid transparent;
}

#table-textorientbox.sidebar .jsdialog input[type='radio'] {
	background: none !important;
	width: auto;
	height: auto;
}

/* fixes sidebar width in calc (textorientbox) */
#textorientbox {
	grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
	grid-gap: inherit;
}
#textorientbox button {
	min-width: auto;
	width: auto;
}


/* Charts */

.sidebar#ChartTypePanel #cmb_chartType-input,
.sidebar#ChartTypePanel #\33 dscheme-input,
.sidebar#ChartTypePanel .ui-listbox,
.sidebar#ChartTypePanel .ui-pushbutton,
.sidebar#ChartTypePanel .ui-scrollwindow,
.sidebar#ChartTypePanel #stack,
.sidebar#ChartElementsPanel .ui-listbox {
	justify-content: start;
	width: 100%;
}

.sidebar#ChartTypePanel #stack:not(.hidden) + #grid6 {
	display: block !important;
}

.sidebar#ChartTypePanel #stack.hidden + #grid6 {
	display: none;
}

/* not available commands*/

.sidebar #orientationcontrol,
.sidebar #rotation,
.sidebar #rotatemenu {
	visibility: hidden;
}

.sidebar #orientationcontrol,
.sidebar #rotation, .sidebar #grid1-cell-5-1,
.sidebar #rotationlabel {
	height: 0;
}


/* Navigator */

#NavigatorDeck #contentbox,
#NavigatorDeck #contenttree,
#NavigatorDeck #tree {
	position: absolute;
	top: 0;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border: none;
}
#NavigatorDeck .ui-expander-content > .root-container.jsdialog {
	margin: 0;
}
#NavigatorDeck div {
	padding-inline-start: 0;
	background-color: transparent;
}
#NavigatorDeck .ui-treeview-icon {
	width: var(--btn-size-s);
	height: var(--btn-size-s);
}
#NavigatorDeck div.selected {
	background-color: var(--color-background-dark);
	color: var(--color-primary);
}
[data-theme='dark'] #NavigatorDeck div.selected {
	background-color: transparent;
	color: var(--color-text-lighter);
}

#NavigatorDeck .ui-treeview-entry,
#NavigatorDeck .ui-treeview-expanded-content {
	margin-block-end: 8px;
}

#NavigatorDeck div.selected:not(.ui-treeview-expandable-with-icon):not(:empty):not([aria-level='1'])::before {
	content: '–';
	/* good to move this into css var*/
	font-size: 17px;
	font-weight: 500;
	position: relative;
	left: -20px;
	width: 0px;
}
#NavigatorDeck .ui-treeview-cell-text {
	/* good to move this into css var*/
	font-size: 14px;
	white-space: break-spaces;
}

#StyleListPanelPanelExpander .ui-treeview-cell-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
#NavigatorDeck .ui-treeview-cell {
	/* Move this whole block away and fix in the main control */
	display: flex;
	align-items: center;
	word-break: break-word;
}

span.jsdialog.sidebar.ui-treeview-notexpandable {
	margin-left: 15px;
}

#NavigatorDeck .ui-expander {
	display: none;
}

/* Styles deck */
#StyleListPanelPanelExpander [id='2'] button { background: transparent url('images/lc_parastyle.svg') no-repeat center; }
#StyleListPanelPanelExpander [id='1'] button { background: transparent url('images/lc_charstyle.svg') no-repeat center; }
#StyleListPanelPanelExpander [id='3'] button { background: transparent url('images/lc_framestyle.svg') no-repeat center; }
#StyleListPanelPanelExpander [id='4'] button { background: transparent url('images/lc_pagestyle.svg') no-repeat center; }
#StyleListPanelPanelExpander [id='5'] button { background: transparent url('images/lc_liststyle.svg') no-repeat center; }
#StyleListPanelPanelExpander [id='6'] button { background: transparent url('images/lc_tablestyle.svg') no-repeat center; }


[data-theme='dark'] #StyleListPanelPanelExpander [id='1'] button { background: transparent url('images/dark/lc_charstyle.svg') no-repeat center; }
[data-theme='dark'] #StyleListPanelPanelExpander [id='5'] button { background: transparent url('images/dark/lc_liststyle.svg') no-repeat center; }
[data-theme='dark'] #StyleListPanelPanelExpander [id='2'] button { background: transparent url('images/dark/lc_parastyle.svg') no-repeat center; }
[data-theme='dark'] #StyleListPanelPanelExpander [id='4'] button { background: transparent url('images/dark/lc_pagestyle.svg') no-repeat center; }
[data-theme='dark'] #StyleListPanelPanelExpander [id='3'] button { background: transparent url('images/dark/lc_framestyle.svg') no-repeat center; }
[data-theme='dark'] #StyleListPanelPanelExpander [id='6'] button { background: transparent url('images/dark/lc_tablestyle.svg') no-repeat center; }

#StyleListPanelPanelExpander #left.toolbox button {
	background-size: cover;
}

#StyleListPanelPanelExpander #left.toolbox img {
	visibility: hidden;
}

#TemplatePanel #filter select {
	width: 100%;
}

/* required to dynamically resize treeviews or lists inside sidebar */
.sidebar-container,
.sidebar-container > .root-container.jsdialog.sidebar,
.sidebar-container > .root-container.jsdialog.sidebar > .vertical.jsdialog.sidebar {
	height: 100%;
}

#StyleListDeck,
#StyleListDeck .root-container.jsdialog.sidebar,
#StyleListDeck .vertical.jsdialog.sidebar,
#StyleListPanelPanelExpander,
#StyleListPanelPanelExpander #content,
#StyleListPanelPanelExpander #TemplatePanel {
	height: 100%;
}

#StyleListPanelPanelExpander .ui-expander-content.jsdialog.sidebar.expanded {
	height: calc(100% - 45px);
}

#TemplatePanel .sidebar .unotoolbutton {
	padding: 4px;
	border: 0 solid transparent !important;
	border-bottom-width: 2px !important;
	background-color: transparent !important;
	border-radius: 0 !important;
}

#TemplatePanel .sidebar .unotoolbutton:hover,
#TemplatePanel .sidebar .unotoolbutton.selected {
	border-bottom-color: rgba(var(--doc-type)) !important;
}

#TemplatePanel .sidebar .ui-content.unobutton {
	width: var(--btn-size-m);
	height: var(--btn-size-m);
}

#TemplatePanel {
	display: flex;
	flex-direction: column;
}

#TemplatePanel > div:nth-child(4),
#TemplatePanel > div:nth-child(5) {
	height: inherit;
}

#TemplatePanel #highlightstyles input {
	margin-left: 0px;
}