@keyframes vex-fadeout {
	0% {
		opacity: 1; }
	100% {
		opacity: 0; } }

#about-dialog {
	color: var(--color-main-text);
}
#about-dialog hr {
	border: 1px solid var(--color-border);
}

/* Keyboard input keys */
kbd,
.kbd {
	background-color: var(--color-background-dark);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
	display: inline-block;
	font-family: monospace;
	font-size: .85em;
	line-height: 1;
	padding: 4px;
	white-space: nowrap;
}

.kbd--plus {
	color: var(--color-text-dark);
	padding: 0 4px;
	font-size: 0.85em;
}

.warn-copy-paste {
	width: 100%;
}

.slider, .slides > div {
	width: 100%;
}

.slider {
	text-align: center;
	overflow: hidden;
	height: auto;
	margin: auto;
}

.slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 1em;
}
.slides::-webkit-scrollbar {
	display: none;
}
.slides::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
	background: transparent;
}
.slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	border-radius: 10px;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
}
.slides > div > * {
	margin-right: 164px;
	margin-left: 164px;
}
.author-info {
	background: var(--color-main-background);
	color: var(--color-main-text);
	padding: 0.75rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
.author-info a {
	background: var(--color-main-background);
	color: var(--color-main-text);
}

.slider > [id^='i-slide'] {
	display: inline-flex;
	width: 14px;
	height: 14px;
	background: linear-gradient(to top, var(--color-background), var(--color-background-darker));
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 0 0.5rem 0.5rem;
	position: relative;
	color: transparent;
}
.slider > [id^='i-slide'].active {
	background: #444;
}
.slider > [id^='i-slide']:focus,
.slider > [id^='i-slide']:hover {
	background: #666;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
	.slider > a {
		display: none;
	}
}

/* Hiding scroll bar */
#user-welcome * {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

#user-welcome *::-webkit-scrollbar {
	width: 0;
}

#user-welcome *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

.slides h1 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 4px;
}
.slides h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
}
.slides p,
#view-supported-versions {
	font-size: 14px;
	font-weight: normal;
}
.slides fig {
	height: 232px;
	display: block;
}
#slide-1 fig {
	background-image: linear-gradient(to top,#e6e6e6c4,#e6e6e64f 3%,white 33%);
	border-radius: 0 0 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#slide-1 #fig-slide1-l {
	background: url('images/welcome/slide1-left.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #00000040;
	border-radius: 100%;
}
#slide-1 #fig-slide1-c {
	background: url('images/welcome/slide1-center.png')  no-repeat center;
	width: 96px;
	height: 96px;
	box-shadow: 0 0 12px 1px #00000040;
	border-radius: 100%;
	margin: 42px 32px 0;
}
#slide-1 #fig-slide1-r {
	background: url('images/welcome/slide1-right.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #0000005e;
	border-radius: 100%;
}
#slide-2 fig {
	background: url('images/welcome/slide2.png') no-repeat center;
}
#slide-3 fig {
	background: url('images/welcome/slide3.png') no-repeat center;
	box-shadow: 0 0 8px 1px #e5e5e5;
	width: 342px;
	margin: 12px auto;
	border-radius: 8px;
}
#view-supported-versions {
	text-align: center;
	display: block;
}
#user-welcome--buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	margin-right: 72px
}
