
/* Regular ProgressBar */
.ui-progressbar {
	height: 5px !important;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.ui-progressbar progress {
	width: 100%;
	height: 5px;
	background-color: rgba(var(--doc-type, 163, 62, 3), 0.2);
	border: none;
}

[data-theme='dark'] .ui-progressbar progress {
	background-color: #FFFF;
}

.ui-progressbar progress::-webkit-progress-bar {
	background-color: rgba(var(--doc-type, 163, 62, 3), 0.2);
}

.ui-progressbar progress::-webkit-progress-value,
.ui-progressbar progress::-moz-progress-bar {
	background-color: rgba(var(--doc-type, 163, 62, 3));
}

/* Infinite Mode Styling */
.ui-progressbar.infinite {
	position: relative;
	background-color: rgba(var(--doc-type, 163, 62, 3), 0.2);
	width: 100%;
	overflow: hidden;
}

.ui-progressbar.infinite progress::-webkit-progress-bar,
.ui-progressbar.infinite progress::-webkit-progress-value,
.ui-progressbar.infinite progress::-moz-progress-bar {
	background: transparent;
}

/* Indeterminate Animation Overlay */
.ui-progressbar.infinite::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(var(--doc-type, 163, 62, 3));
	animation: indeterminateAnimation 1s infinite linear;
	transform-origin: 0% 50%;
	z-index: 0;
	pointer-events: none;
}

@keyframes indeterminateAnimation {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

/* slideshow nav btns  */
.slideshow-nav-container img {
	flex: 1 1 25%;
	margin-inline-start: 5px;
	max-width: 100%;
	border-radius: 100%;
	width: 48px;
	height: 48px;
}
.slideshow-nav-container img:hover {
	background-image: radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1));
}
.skipTransition-true {
	filter: brightness(0.5);
}
