.spreadsheet-tabs-container {
	margin: 0;
	padding: 0;
	position: relative;
	height: 39px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-align: start;
	background-color: transparent;
	vertical-align: middle;
}

.spreadsheet-tab-scroll {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	margin-left: 6px;
}

.spreadsheet-tab {
	margin: 5px 0px 0px !important;
	padding: 6px 9px 4px !important;
	text-decoration: none;

	font: var(--default-font-size)/1.5 var(--cool-font);
	display: inline-grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	background: var(--color-main-background);
	color: var(--color-main-text);
}

.spreadsheet-tab.spreadsheet-tab-selected {
	background-color: var(--color-primary) !important;
	color: var(--color-primary-text) !important;
	border: 1px solid var(--color-border-dark);
}

.spreadsheet-tab.spreadsheet-tab-protected > .lock, .spreadsheet-tab.spreadsheet-tab-protected:hover > .lock {
	width: 16px;
	height: 16px;
	background-image: url('images/lc_spreadsheet_protected.svg') !important;
	background-repeat: no-repeat !important;
}

#spreadsheet-tab-scroll button.spreadsheet-tab-selected:hover {
	background-color: var(--color-primary-dark) !important;
	color: var(--color-primary-text) !important;
}

.spreadsheet-tab:hover {
	border: 1px solid var(--color-border-darker);
	background: var(--color-background-darker) !important;
	color: var(--color-text-darker) !important;
}

#drop-zone-end-container {
	height: 32px;
	width: 128px;
	opacity: 0;
	vertical-align: bottom;
	display: inline-block;
	background-color: var(--color-main-background);
}

#spreadsheet-header-corner-container {
	border: 1px solid var(--color-border-dark);
	background-color: var(--colo-background-dark);
	cursor: pointer;

	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0px;
	top: 0;
	width: 48px;
	height: 19px;
}

#spreadsheet-header-corner {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.spreadsheet-header-corner-styles {
	border: 1px solid var(--color-border-dark);
	background-color: var(--colo-background-dark);
	font: var(--default-font-size)/1.5 var(--cool-font);
	color: var(--color-text-dark);
	cursor: pointer;
}

#spreadsheet-header-columns-container {
	border: 1px solid var(--color-border-dark);
	background-color: var(--colo-background-dark);

	position: absolute;
	display: inline-block;
	white-space: nowrap;
	left: 49px;
	top: 0;
	right: 0;
	height: 19px;
	overflow: hidden;
}

#spreadsheet-header-rows-container {
	border: 1px solid var(--color-border-dark);
	background-color: var(--colo-background-dark);

	position: absolute;
	left: 0;
	top: 20px;
	width: 48px;
	bottom: 0;
	overflow: hidden;
}

.spreadsheet-header-rows,
.spreadsheet-header-columns {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-spacing: 0px !important;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.spreadsheet-header-row,
.spreadsheet-header-column {
	border: 1px solid var(--color-border-dark);
	background-color: var(--colo-background-dark);
	font: var(--default-font-size)/1.5 var(--cool-font);
	color: var(--color-text-dark);
	cursor: pointer;
}

.spreadsheet-header-row-hover,
.spreadsheet-header-column-hover {
	background-color: var(--background-color-darker);
}

.spreadsheet-header-row-selected,
.spreadsheet-header-column-selected {
	color: var(--color-primary-text);
	background: linear-gradient(var(--color-primary), var(--color-primary), var(--color-primary));
}

.spreadsheet-header-column-resize {
	cursor: col-resize;
}

.spreadsheet-header-row-resize {
	cursor: row-resize;
}

.spreadsheet-cell-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	background-image: url('images/cell-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spreadsheet-cell-autofill-marker {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url('images/cell-autofill-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: crosshair;
}

.spreadsheet-drop-down-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 18px;
	height: 17px;
	background: url('images/drop-down-button.svg') center top/16px var(--color-background-lighter) no-repeat;
	border: 1px solid var(--color-border);
	box-sizing: border-box;
	box-shadow: 0 0 1px 0 var(--color-box-shadow);
}

.spreadsheet-drop-down-marker:hover {
	cursor: pointer;
	background-position-y: -16px;
	box-shadow: 0 0 0 0 transparent, inset 0 0 1px 0 #00000015;
}

#toolbar-wrapper.spreadsheet.tablet {
	z-index: auto;
}

#toolbar-wrapper.spreadsheet.tablet.readonly {
	z-index: -1;
}

/* Sidebar: Style: Hide dialog button
   - There is no paragraph style dialog in calc
   - The style sidebar pane visible on core side is not implemented in online
*/
.spreadsheet ~ #main-document-content #sidebar-dock-wrapper .unoEditStyle.sidebar {
	display: none;
}

/* formulabar */

#addressInput-input {
	height: 26px;
	width: 100px;
	color: var(--color-main-text);
	background-color: var(--color-background-lighter);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	align-self: start;
}

#formulabar-toolbox > div {
	align-items: start;
}

#formulabar {
	padding: 4px;
	background-color: var(--color-main-background);
	border-top: 1px solid var(--color-border);
}

#formulabar.expanded #addressInput * {
	vertical-align: top;
}

#formulabar > .root-container > .formulabar {
	display: grid;
	grid-template-columns: 110px 106px auto;
}

/* sheet tabs */

.empty-deltas {
	pointer-events: none; /* fix cypress, it covers some buttons*/
}

#spreadsheet-toolbar {
	width: 100%;
	z-index: 1000;
	display: grid;
	grid-template-columns: 170px auto;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	background-color: var(--color-main-background);
	border-top: 1px solid var(--color-border);
}

#sheets-buttons-toolbox > div.toolbox {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	height: 39px;
}

.tab-drop-area {
	height: 32px;
	width: 4px;
	opacity: 0;
	vertical-align: bottom;
	display: inline-block;
	background-color: var(--color-main-background);
}

.tab-drop-area-active {
	background-color: rgb(109, 109, 211);
}

.tab-drop-area.tab-drop-area-active {
	opacity: 100% !important;
}
