@-moz-document url-prefix() {
	#formulabar #formulaInput, #formulabar #addressInput{
		margin-left: 5px;
		color: var(--color-main-text);
		background-color: var(--color-main-background);
		border: 1px solid var(--color-border) !important;
		border-radius: 0px;
	}
	#toolbar-up{
		top: -1px;
	}
}
#tb_actionbar_item_redo.disabled, #tb_actionbar_item_undo.disabled, #tb_actionbar_item_mobile_wizard.disabled, #tb_actionbar_item_insertion_mobile_wizard.disabled {
	display: none;
}
#toolbar-wrapper.mobile{
	border-top: none;
	z-index: auto !important;
}
