#toolbar-up.w2ui-toolbar {
	left: 0;
	right: 0;
	padding-left: 9px;
	padding-right: 0px;
	text-align: center;
	z-index: 999;
	overflow: visible !important;
	background-color: transparent;
}

#toolbar-down {
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	bottom: 0;
	z-index: 11;
	border-top: 1px solid var(--color-border);
	display: block;
}
#toolbar-down *{
	font-family: var(--cool-font);
	color: var(--color-main-text);
}
#toolbar-down *:hover {
	color: var(--color-text-darker);
}
#toolbar-down:not(.mobile) {
	background-color: var(--color-main-background);
}
#tb_actionbar_item_LanguageStatus table table td:first-of-type{
	min-width: max-content !important;
}
#tb_actionbar_item_LanguageStatus .w2ui-tb-caption{
	float: none;
}
#toolbar-down.readonly #tb_actionbar_item_InsertMode,
#toolbar-down.readonly #tb_actionbar_item_InsertMode + td[id^='tb_actionbar_item_break'],
#toolbar-down.readonly #tb_actionbar_item_StatusSelectionMode,
#toolbar-down.readonly #tb_actionbar_item_StatusSelectionMode + td[id^='tb_actionbar_item_break'],
#toolbar-down.readonly #tb_actionbar_item_LanguageStatus .w2ui-button .w2ui-tb-down {
	display: none;
}
#toolbar-down.readonly #tb_actionbar_item_LanguageStatus .w2ui-button {
	border-color: transparent !important;
}
#tb_actionbar_item_StateTableCellMenu .w2ui-tb-down {
	padding: 4px;
}
#InsertMode.insert-mode-false,
#PermissionMode.status-readonly-mode {
	background-color: var(--color-warning);
	color: var(--color-primary-text);
	border-radius: var(--border-radius);
}
#tb_actionbar_item_zoom .w2ui-tb-caption{
	min-width: 43px;
}
#tb_actionbar_item_zoom .w2ui-tb-caption::after {
	content: '%';
}
#document-signing-bar {
	background-color: var(--color-error);
}

#toolbar-search {
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	border-top: 1px solid var(--color-border);
}

#tb_actionbar_item_prev .w2ui-icon.prev {
	background: url('images/lc_prevrecord.svg') no-repeat center/24px !important;
}

#tb_actionbar_item_next .w2ui-icon.next {
	background: url('images/lc_nextrecord.svg') no-repeat center/24px !important;
}

.w2ui-icon-check:before {
	color: var(--color-primary);
}

w2ui-toolbar {
	position: absolute;
	right: 10px;
	top: 40px;
	border: 1px solid var(--color-border);
	z-index: 1000;
	display: none;
	overflow: visible !important;
}
.w2ui-toolbar table.w2ui-button .w2ui-tb-down > div,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-top: 5px solid var(--color-main-text);
}
#toolbar-down .ToolbarStatusInactive {
	color: var(--color-text-lighter);
	box-shadow: inset 0px 0px 0px 10px var(--color-background-dark), 0px 0px 0px 2px var(--color-background-dark), 4px 0px 0px 1px var(--color-background-lighter), -4px 0px 0px 1px #fff, 0px 0px 0px 5px var(--color-background-lighter);
}
.w2ui-overlay {
	-webkit-box-shadow: 0 0 3px var(--color-border);
	box-shadow: 0 0 3px var(--color-box-shadow);
	border-radius: var(--border-radius);
	background-color: var(--color-background-lighter);
}
.w2ui-overlay.bottom-arrow:before {
	border-top: 6px solid var(--color-border-dark);
}
.w2ui-overlay .menu {
	overflow: hidden auto;
	border-radius: var(--border-radius);
}
.w2ui-overlay > div {
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
}
.w2ui-overlay table.w2ui-drop-menu {
	color: var(--color-main-text);
	background-color: var(--color-main-background);
}
.w2ui-overlay table.w2ui-drop-menu tr:hover {
	color: var(--color-text-darker);
	background-color: var(--color-background-darker);
}
.w2ui-overlay.bottom-arrow:after {
	border-top-color: var(--color-background-lighter);
}
#tb_actionbar_item_LanguageStatus .w2ui-button.checked .w2ui-tb-down > div,
#tb_actionbar_item_StateTableCellMenu .w2ui-button.checked .w2ui-tb-down > div,
#tb_actionbar_item_zoom .w2ui-button.checked .w2ui-tb-down > div {
	border-color: transparent;
	border-bottom: 5px solid var(--color-text-dark);
	margin-top: -5px;
}
#spreadsheet-toolbar {
	width: 100%;
	text-align: center;
	padding: 0;
	background-color: var(--color-main-background);
	border-top: 1px solid var(--color-border);
}

#formulabar {
	background-color: var(--color-main-background);
	border-top: 1px solid var(--color-border);
	height: 30px;
}

#tb_formulabar_item_address, #tb_formulabar_item_item_2 {
	padding-top: 2px;
	vertical-align: top;
}

#presentation-toolbar {
	bottom: 0;
	background-color: var(--color-main-background);
	text-align: center;
	position: absolute;
	z-index: 500;
	width: 100%;
	padding-bottom: 0px;
	margin-top: -1px;
	border-bottom: none;
	box-sizing: border-box;
}

.w2ui-toolbar .w2ui-break {
	height: 18px;
	background-image: none;
	background-color: var(--color-border-lighter);
}

/* For MS Edge 40, the select2 combo boxes need to have higher z-index than #map
 * Ideal would be to add the class to select2-container <span>, but
 * https://github.com/select2/select2/issues/285
 * So, for now just define the z-index here separately for the same class that select2 uses
 * as a container
 */
.select2-container {
	z-index: 1000;
}

.select2-container .select2-selection--single {
	height: 100%;
}

.w2ui-scroll-left,
.w2ui-scroll-right {
	z-index: 1001;
}

/* center the toolbar */
#tb_presentation-toolbar_item_left {
	width: 50%;
}

#addressInput {
	height: 29px;
	width: 100px;
}

#formulaInput {
	height: 29px;
	width: 100%;
}

#calc-inputbar-wrapper {
	display: block;
	border: none;
}

#calc-inputbar {
	display: block;
	width: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
}

#tb_formulabar_item_formula {
	width: 100%;
	padding-top: 4px;
}

#tb_formulabar_item_formula div table {
	width: 100%;
}

@keyframes textPulse {
	0% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--blue1-txt-primary-color), 0.1);
	}
	50% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--blue1-txt-primary-color), 0.2);
	}
	100% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--blue1-txt-primary-color), 0.1);
	}
}
@keyframes presentationPulse {
	0% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--orange1-txt-primary-color), 0.1);
	}
	50% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--orange1-txt-primary-color), 0.2);
	}
	100% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--orange1-txt-primary-color), 0.1);
	}
}
@keyframes spreadsheetPulse {
	0% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--green0-txt-primary-color), 0.1);
	}
	50% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--green0-txt-primary-color), 0.2);
	}
	100% {
		box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb, 0 0 4px rgba(var(--green0-txt-primary-color), 0.1);
	}
}
.text-color-indicator #document-name-input.editable:focus{
	animation: textPulse 1.5s infinite ease-in-out;
}
.presentation-color-indicator #document-name-input.editable:focus{
	animation: presentationPulse 1.5s infinite ease-in-out;
}
.spreadsheet-color-indicator #document-name-input.editable:focus{
	animation: spreadsheetPulse 1.5s infinite ease-in-out;
}

#document-name-input {
	color: var(--color-text-darker);
	font-size: var(--header-font-size);
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: var(--border-radius);
	padding: 0px 2px;
	transition: 0.5s;
}

#document-name-input.editable {
	border: none;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 18px;
	text-align: center;
	font-size: var(--default-font-size) !important;
	padding: 0px 4px;
	width: auto !important;
	border-radius: 20px;
	box-shadow: inset 0 0 2px 0 var(--color-border-dark);
	background-color: var(--color-background-lighter);
}

.main-nav:not(.hasnotebookbar) #document-name-input.editable {
	font-size: var(--default-font-size) !important;
	padding-bottom: 2px;
}

#document-name-input.editable:focus {
	border: none;
	box-shadow: inset 0 0 2px 1px #f0f0f0, 0 0 0.1px 1px #bbb;
	background-color: var(--color-main-background);
	background-image: none;
	outline: none;
	flex: 2;
	text-align: left;
}

.readonly #document-name-input.editable:focus {
	flex: 1;
	text-align: center;
}

#document-name-input.editable:hover:not(:focus) {
	border: none;
	box-shadow: 0 0 0.1px 1px #d7d7d7, 0 0 3px 2px #f0f0f0;
	background-color: var(--color-main-background);
	background-position: right;
	background-repeat: no-repeat;
}
#tb_editbar_item_fold table.w2ui-button {
	margin: 0px 14px 0px 4px !important;
}
#tb_editbar_item_fold table.w2ui-button.over {
	background-color: var(--color-background-darker) !important;
	border: 1px solid var(--color-border-darker);
}
td[id^='tb_editbar_item_sidebar']{
	padding: 0px 8px;
}
#tb_editbar_item_edit {
	display: none;
}

#closebuttonwrapper {
	order: 99;
	flex-shrink: 0;
	width: 37px;
	height: 32px;
	background-color: transparent;
}

.main-nav:not(.hasnotebookbar) ~ #closebuttonwrapper {
	height: 38px;
}

#closebutton {
	width: 100%;
	height: 100%;
	background: url('images/closedoc.svg') no-repeat center/24px !important;
}

.main-nav:not(.hasnotebookbar) ~ #closebuttonwrapper #closebutton {
	background: url('images/closedoc.svg') no-repeat center/35px !important;
}

#closebutton:hover {
	border-color: var(--color-border-darker);
	background-color: var(--color-background-darker);
}

#tb_actionbar_item_left {
	width: 45%;
}
#tb_actionbar_item_right {
	width: 100%;
}

#tb_searchbar_item_left {
	width: 95%;
}

.w2ui-button{
	margin: 0 !important;
}

.w2ui-tb-image {
	width: 24px !important;
	height: 24px !important;
}

.w2ui-break {
	margin: 0 4px !important;
}

.leaflet-bar a {
	float: left;
}

div .leaflet-bar a:last-child {
	border-bottom: 1px solid var(--color-border);
}

.leaflet-control-zoom.leaflet-bar {
	margin-left: 0.5em;
}

div.leaflet-control-zoom leaflet-bar {
	width: 53px;
}

.leaflet-bar a:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.leaflet-bar a:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

label.leaflet-control-editviewswitch {
	padding: 0.2em 0.4em 0.2em 0em;
}

input.leaflet-control-search-bar {
	padding: 0.3em;
	max-width: 100px;
}

.leaflet-control-fonts-container {
	display: inline;
}

select {
	padding: 0.2em 0.4em 0.4em 0em;
	background-color: var(--color-background-lighter);
}

button.leaflet-control-search-prev {
	margin-left: 0.2em;
}

button.leaflet-control-search-next
, leaflet-control-search-cancel {
	margin-right: 0.2em;
}

#toolbar label
, .leaflet-control-search {
	background-color: var(--color-background-lighter);
}

.search-not-found {
	background-color: var(--color-error) !important;
	-webkit-transition: background-color 0.8s linear;
	-moz-transition: background-color 0.8s linear;
	-o-transition: background-color 0.8s linear;
	transition: background-color 0.8s linear;
}

#zoomlevel {
	min-width: 36px;
	font-size: var(--default-font-size);
}

/* select box */
.select2-results__option {
	padding: 5px;
	font-family: var(--cool-font);
	color: var(--color-main-text);
	font-size: var(--default-font-size);
	overflow: hidden;
	text-overflow: ellipsis;
}
.select2-selection__rendered {
	font-family: var(--cool-font);
	font-size: var(--default-font-size);
}
.select2-container--default .select2-selection--single,
.sidebar.jsdialog.ui-listbox {
	background-color: var(--color-background-dark);
	color: var(--color-text-dark);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border-dark);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 24px;
	background-color: var(--color-background-dark);
	color: var(--color-text-dark);
	border-radius: var(--border-radius);
}
.select2-container--default .select2-selection--single .select2-selection__rendered:hover,
.sidebar.jsdialog.ui-listbox:hover,
.w2ui-toolbar table.w2ui-button.checked:hover {
	background-color: var(--color-background-lighter);
	color: var(--color-text-darker);
}
.select2-dropdown {
	background-color: var(--color-main-background);
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
}
.select2-container--default .select2-results__option[aria-selected='true'] {
	background-color: var(--color-background-dark);
	color: var(--color-text-dark);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: var(--color-background-darker);
	color: var(--color-text-darker);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	background-color: var(--color-background-lighter);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
}
.select2-container--default .select2-results__option[aria-disabled='true'] {
	color: var(--color-border-lighter);
}
.styles-select {
	width: 150px !important;
}
#tb_editbar_item_fonts .select2-container{
	margin-left: 5px;
	margin-right: 5px;
	width: 150px !important;
}
#fontnamecombobox {
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	padding-right: 8px;
}
#tb_editbar_item_fontsizes .select2-container{
	min-width: 55px !important;
}
.fontsizes-select {
	width: 55px !important;
}
.evo-cp-wrap {
	/* hide the color pick div */
	width: 1px !important;
}

.font-color-indicator,
.back-color-indicator {
	width: 24px;
	height: 6px;
	margin-top: -7px !important;
	margin-left: 5px !important;
	position: fixed;
	background: transparent;
}

.back-color-indicator {
	border-width: 1px;
	border-style: solid;
}

#setborderstyle-grid tr td {
	color: var(--color-text-dark);
	background: var(--color-background-dark);
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	position: relative;
	padding: 2px;
	overflow: auto; /* child margins otherwise don't expand *this* element (parent) */
}

#setborderstyle-grid td:hover {
	background: var(--color-background-darker);
	border: 1px solid var(--color-border-darker);
	color: var(--color-text-darker);
}

#conditionalformatmenu-grid tr td {
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.5);
	position: relative;
	padding: 3px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
	margin: 3px;
	overflow: auto; /* child margins otherwise don't expand *this* element (parent) */
}

#conditionalformatmenu-grid td:hover {
	border: 1px solid var(--color-border-darker);
	background-color: var(--color-background-darker) !important;
}

.w2ui-toolbar table.w2ui-button {
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color-main-text);
}
.w2ui-toolbar table.w2ui-button.over {
	border: 1px solid var(--color-border-darker) !important;
}
.w2ui-toolbar table.w2ui-button.checked {
	background-color: var(--color-background-dark);
	border: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
}

.inserttable-pop {
	z-index: 1000;
}

#fontcolor-wrapper {
	position: relative;
	right: 200px; /* fontcolor popup has 200px width, place it to the left from its right edge */
}

#backcolor-wrapper {
	position: relative;
	right: 200px; /* backcolor popup has 200px width, place it to the left from its right edge */
}

#backcolor-wrapper .evo-pop {
	z-index: 1000; /* Override default value of 10000 of evo-pop class */
}

#fontcolor-wrapper .evo-pop {
	z-index: 1000; /* Override default value of 10000 of evo-pop class */
}

/* for 10x10 grid 10x20+10*.col.margin */
.inserttable-grid {
	box-sizing: border-box;
	position: relative;
	padding: 2px;
	display: block;
	width: 243px;
}

.inserttable-grid .row {
	height: 20px;
	margin: 3px;
}

.inserttable-grid .col {
	height: 100%;
	float: left;
	padding: 2px;
	width: 20px;
	border: 1px;
	border-style: solid;
	border-color: var(--color-border);
	background: var(--color-background-lighter);
	margin: 3px 0 0 3px;
}

.inserttable-grid .col.bright {
	border: 1px solid var(--color-primary);
	background: var(--color-primary-lighter);
}

/* Insert shape grid - based on inserttable grid */
.insertshape-grid {
	box-sizing: border-box;
	position: static;
	padding: 2px;
	display: block;
	min-width: 350px;
	width: 100%;
	height: auto;
}

.insertshape-grid .row {
	height: auto;
	position: static;
	text-align: left;
}

.insertshape-grid .row:last-child {
	margin-bottom: 70px;
}

.insertshape-grid .col {
	height: 30px;
	padding: 2px;
	width: 30px;
	border: 1px solid transparent;
}

.insertshape-grid .row-header {
	height: 30px;
	text-align: center;
	padding: 0 7px;
	clear: both;
	background-color: var(--color-background-dark);
	position: static;
	line-height: 30px;
	color: var(--color-main-text);
	border-radius: var(--border-radius);
}

.insertshape-grid:hover div {
	color: var(--color-text-darker);
}

.insertshape-grid .col:hover {
	border: 1px solid var(--color-border-darker);
	border-radius: var(--border-radius);
	background-color: var(--color-background-darker) !important;
}

tr.useritem:hover {
	cursor: default;
	background-color: rgba(67, 172, 232, 0.25);
}

tr.useritem > td {
	padding: 7px;
}

tr.useritem > td.usercolor {
	display: inline-block;
	top: 0px;
	left: 3px;
	position: relative;
}

tr.useritem > td > img {
	border-radius: 100px;
}

.context-menu-link {
	text-decoration: none;
	color: var(--color-main-text);
	width: 100%;
}
.menu-entry-icon {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	background: transparent;
}

.menu-entry-checked {
	background: url('images/lc_listitem-selected.svg') no-repeat 97% center;
}

.menu-entry-with-icon {
	padding-left: 10px;
}

/* Don't forget to update it when you change one of the two above!
menu-entry-with-icon.padding-left + menu-entry-icon.width */
.menu-entry-no-icon {
	padding-left: 42px;
}

#userListHeader {
	position: relative;
	background-color: transparent;
	display: flex !important;
	flex-grow: 1;
	align-items: center;
	font-family: var(--cool-font);
	padding-right: 12px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: var(--default-font-size);
}

#userListHeader .user-info,
#userListHeader .avatar-img {
	width: 24px;
	height: 24px;
	background-color: var(--color-background-lighter);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 2px;
	border-radius: 100%;
	margin-right: 5px;
}

#userListSummary {
	display: flex;
}

#userListSummary .user-info,
#userListSummary .avatar-img {
	margin-left: -10px;
}

#userListPopover {
	display: none;
	position: absolute;
	z-index: 1;
	top: 38px;
	right: 5px;
	color: var(--color-main-text);
	background-color: var(--color-background-lighter);
	border-radius: var(--border-radius);
	filter: drop-shadow(0 1px 3px var(--color-box-shadow));
	min-width: 150px;
	font-size: var(--default-font-size);
}

html[dir='rtl'] #userListPopover {
	right: unset !important;
	left: 5px;
}

#userListPopover::after {
	border: 10px solid transparent;
	border-bottom-color: var(--color-main-background);
	bottom: 100%;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	color: var(--color-main-text);
	right: 16px;
}

html[dir='rtl'] #userListPopover::after {
	right: unset !important;
	left: 16px;
}

#userListPopover .user-list-item {
	display: flex;
	max-width: 100%;
	padding: 4px 8px;
}

#userListPopover .user-list-item--name {
	display: flex;
	flex-grow: 1;
	padding: 8px;
}

#userListPopover .user-list-item.selected-user {
	background-color: var(--color-background-dark);
}

#userListPopover #follow-editor {
	padding: 6px 4px;
}

#userListPopover #follow-editor .follow-editor-checkbox {
	margin-right: 12px;
	margin-left: 7px;
	border-radius: 1px;
	height: 16px;
	width: 16px;
	box-shadow: none !important;
	background-position: center;
}

@media only screen and (max-width: 600px) {
	#userListSummary,
	#userListHeader
	{
		display: none;
	}
}

#w2ui-overlay-actionbar {
	top: 270px;
}

.w2ui-color {
	background-color: transparent;
}

.w2ui-toolbar table.w2ui-button .w2ui-tb-caption,
.w2ui-toolbar table.w2ui-button.checked .w2ui-tb-caption,
.w2ui-reset table tr th, .w2ui-reset table tr td {
	font-size: var(--default-font-size);
	color: var(--color-main-text);
}
