.iframe-welcome-wrap {
	position: absolute;
	z-index: 1106;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.iframe-welcome-modal {
	height: 512px;
	width: 700px;
	box-shadow: 0 1px 10px 1px #00000040;
	border-width: 0;
	border-radius: 8px;
	background-color: white;
}
