name: Build nightly docker image

on:
  schedule:
    - cron: "30 0 * * *"
  push:

jobs:
  docker:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-${{ github.sha }}
          restore-keys: |
            buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          push: false
          context: docker/from-source-gh-action/
          # platforms: linux/amd64,linux/arm64
          file: docker/from-source/Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/code-nightly:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Push container image
        uses: docker/build-push-action@v6
        # if: github.ref == 'refs/heads/master' || github.event_name == 'release'
        with:
          push: true
          context: docker/from-source-gh-action/
          # platforms: linux/amd64,linux/arm64
          file: docker/from-source/Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/code-nightly:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Move cache
        if: always()
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
